body {
	position: relative; float: left; margin: 0; height: 667px;
	width: 100% !important; padding: 0 !important;
}

.accountName {
	float: right; margin-right: 20%; font-weight: bold; color: #359EBB;
	font-size: 17px; margin-top: 2%;
}

.pageContent {
	width: 100%; height: 100%; position: relative; float: left;
}

.headerContent {
	width: 100%; height: 450px; position: relative; float: left;
}

.headerSection1 {
	height: 100%; width: 40%; position: relative; float: left;
	text-align: center;
}

.headerSection2 {
	height: 100%; width: 20%; position: relative; float: left;
	text-align: right; padding-top: 25px; padding-right: 3%;
}

.headerSection2 a {
	font-family: "Georgia"; font-size: 22px; text-decoration: none;
	color: #228FB0;
}

.headerSection3 {
	height: 100%; width: auto; position: relative; float: left;
	padding-top: 25px; padding-right: 3%;
}

.headerSection3 a {
	font-family: "Georgia"; font-size: 22px; text-decoration: none;
	color: #228FB0;
}

.headerSection4 {
	height: 100%; width: 20%; position: relative; float: left;
	padding-top: 25px;
}

.headerSection4 a {
	font-family: "Georgia"; font-size: 22px; text-decoration: none;
	color: #228FB0;
}

.upperBodyContent {
	width: 60%; height: auto; position: relative; text-align: center;
	margin-top: 12%; margin-left: auto; margin-right: auto;
}

.upperBodyContentHeader {
	font-size: 40px; font-family: Georgia; color: #fff;
}

.upperBodyContentText {
	width: 70%; margin: 5% 15% 2% 15%; color: #349DBA; font-family: Georgia;
	font-size: 18px; font-weight: 600;
}

.upperBodyContentInputs {
	float: left; width: 60%; padding: 2% 20%;
}

.bodyContent {
	width: 100%; height: auto; background-color: #fff; position: relative;
	float: left;
}

.lowerBodyContent {
	width: 80%; height: auto; background-color: #fff; position: relative;
	float: left; padding: 0 10%;
}

.footerContent {
	width: 100% !important; height: auto; background-color: #349DBA !important;
	position: relative; float: left;
}

.header {
	width: 100%; background-color: #fff; position: relative;
	max-height: 85px; min-height: 75px;
}

.searchInput {
	width: auto; margin-top: 15px; height: 45px; background-color: #349DBA;
	margin: 0 calc(60%/ 2); color: #fff; font-size: 18px;
	line-height: 2.3em;
}

.submitButton {
	width: auto; margin-top: 15px; height: 40px; background-color: #349DBA;
	/* margin-left: calc(65% / 2); */ color: #fff; font-size: 22px;
	line-height: 1.8em; float: left; font-family: segoe ui; padding: 0 2%;
}

.filesButton {
	width: 20%; height: 38px; background-color: #349DBA; color: #fff;
	font-size: 20px; line-height: 1.8em; float: left;
	font-family: segoe ui; padding: 0 1%; text-align: center;
}

.shareButton {
	width: 41%; font-size: 20px; float: left; font-family: segoe ui;
	padding: 0 1%; background-color: transparent; color: #111;
	margin: 0% 1%; border: 1px solid; height: 36px; line-height: 1.75em;
	text-align: center;
}

.submitFile {
	margin-left: 1%;
}

.whyMedics, .selectSpecialist {
	width: 100%; text-align: center; margin: 20px 0; font-size: 34px;
	font-family: Georgia; float: left;
}

.whyMedicsSection {
	float: left; margin-bottom: 20px; width: 100%;
}

.selectSpecialistSection {
	float: left; width: 86%; padding: 0 7%;
}

.selectSpecialistSection img {
	width: 100%; max-width: 275px; max-height: 224px;
}

.specialistRow {
	width: 100%; height: auto;
}

.specialistRow .second, .specialistRow .third, .specialistRow .fourth {
	margin-left: 1.33%;
}

.selectSpecialistSection .box {
	width: 24%; float: left; margin-bottom: 1.33%;
}

.selectSpecialistSection .box.middle {
	margin: 0 2%;
}

.selectSpecialistSection .overlay {
	background: rgba(0, 0, 0, .4); text-align: center; opacity: 1;
	width: 100%; height: 100%; -webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out;
}

.whyMedicsSectionLeft {
	float: left; width: 22%; padding: 0 2% 0 12%; text-align: center;
}

.whyMedicsSectionCentre {
	float: left; width: 22%; padding: 0 2% 0 2%; text-align: center;
}

.whyMedicsSectionRight {
	float: left; width: 22%; padding: 0 14% 0 2%; text-align: center;
}

.description {
	font-size: 17px; font-family: Georgia;
}

.sectionTitle {
	margin: 0; font-family: Georgia; font-weight: bold; font-size: 20px;
}

.middleContent {
	float: left; width: 70%; padding: 0 15%; background-color: #349DBA;
	color: #fff; font-size: initial; font-family: Georgia;
}

.middleContentLeft, .middleContentRight {
	float: left; width: 50%; font-size: initial;
}

.middleContentText {
	float: left; clear: both; line-height: 1em;
}

.middleContentText.top {
	margin-top: 15%; margin-bottom: 8%;
}

.txtMiddleContent {
	float: left; clear: both; margin-top: 4%; height: 35px !important;
	padding-left: 10px !important; width: 80%; font-size: 16px !important;
	font-family: Georgia; min-height: 35px !important;
}

.imgTablet {
	margin-top: 3%; margin-left: 6%;
}

.lowerBodyHead {
	width: 100%; text-align: center; margin: 20px 0; font-size: 34px;
	font-family: Georgia;
}

.row {
	float: left; width: 100%; margin-bottom: 20px;
}

.leftcomment {
	font-size: 17px; font-family: Georgia; margin-left: 45%;
	margin-right: 5%; border: 1px solid black; border-radius: 26px;
	height: 100px; padding: 10px;
}

.leftcomment p {
	margin: 0; text-align: right; clear: both;
}

.rightcomment {
	font-size: 17px; font-family: Georgia; margin-right: 45%;
	margin-left: 5%; border: 1px solid black; border-radius: 26px;
	height: 100px; padding: 10px;
}

.rightcomment p {
	margin: 0; text-align: right; clear: both;
}

.commentImage {
	width: 50px; float: right; margin: 0% -10% 0 0; border: 1px transparent;
	border-radius: 25px; clear: both; height: 50px;
}

.footerHeader {
	width: 100%; text-align: center; margin: 20px 0; font-size: 30px;
	font-family: Georgia; color: #fff;
}

.custError {
	padding: 1%;
	/* margin-bottom: 20px; */ border: 2px solid transparent;
	border-radius: 12px; color: #000; background-color: #E9EDF8;
	border-color: #B2B9D0; position: absolute; z-index: 2; width: 300px;
	text-align: center; height: 100px; font-family: Georgia;
	font-size: 18px; padding-top: 75px; top: calc(( 100% - 104px)/2);
	left: calc(( 100% - 304px)/2);
}

.footerImages {
	width: 62%; padding-left: calc(( 100% - 330px)/2); padding-bottom: 30px;
	float: left;
}

.footerBorder {
	background-color: #0C7592; float: left; height: 3px; width: 100%;
}

.footerImage {
	float: left; margin-right: 3%; width: 21%; max-width: 145px;
}

.footerLinks {
	float: left; width: 70%; color: #fff; font-family: Georgia;
	font-size: 15px; margin-left: 15%; margin-bottom: 10px;
	padding-top: 10px;
}

.footerCopyRight {
	width: 100%; text-align: center; font-size: 14px; font-family: Georgia;
	color: #fff; float: left;
}

.footerLink {
	float: left; width: 16%; text-align: center;
}

#errorModal {
	right: calc(50% - 125px) !important; top: 50% !important;
}

.loginModal {
	position: absolute; z-index: 9; width: 20%; background: #E9EDF8;
	height: 250px; text-align: center; right: 16%; top: 0%;
	font-family: Georgia; font-size: 24px; display: none; min-width: 250px;
}

.docLoginModal {
	position: absolute; z-index: 1; width: 20%; background: #E9EDF8;
	height: 200px; text-align: center; right: 11%; top: 19%;
	font-family: Georgia; font-size: 24px; min-width: 250px; display: none;
}

.loginHead {
	height: 15%; padding-top: 4%;
}

.loginBody {
	height: 55%;
}

.loginBody input {
	width: 87%; height: 25%; font-size: .7em; margin-top: 5%;
	padding: 0 3% !important; min-height: 40px !important;
}

.loginFooter {
	height: 34%; background-color: #CEDBEC;
}

.loginFooter input {
	width: 84%; height: 50%; font-size: 20px; background-color: #349DBA;
	color: #fff; font-family: Georgia; margin-top: 6%;
}

.queryHeader {
	margin-top: 0 !important; width: 100%; background-color: #fff;
	height: 18%; margin-top: 2%; position: relative;
}

.upperQueryContent {
	float: left; width: 86%; margin: 0% 4% 0 10%; height: 100%;
}

.questionTxt {
	float: left; width: 85.4%; height: 100%; margin: 2% 0;
	background-color: #fff; padding: 2%; line-height: 1.5em;
	max-height: 245px; overflow: hidden;
}

#queryForm {
	height: 60%;
}

.queryContentLeft {
	float: left; width: 24%;
}

.queryContentRight {
	float: left; width: 69%; margin-left: 3%; height: 100%;
}

.queryContentRight #cssmenu {
		width:  30%;
 	   margin: 0;
 }

.queryContentRight #cssmenu>ul>li>a>span {
	width: 83%;
}

.queryContentRight .has-sub a img {
	margin-left: 15px;
}

.queryHeaderContent {
	width: 100%; height: 100%; position: relative; float: left;
	background-color: #E3F2F7; padding-top: 5%;
}

.drDetails {
	padding-left: 3%; padding-top: 2%;
}

.drImage {
	max-height: 251px;
}

.drDescription {
	font-size: 16px; font-family: segoe ui;
}

.newAccountButton {
	width: 20%; height: 32px; background-color: transparent; color: #111;
	font-size: 20px; line-height: 1.5em; font-family: Georgia;
	border: 1px solid #111; float: right; text-align: center;
	padding: 0 2%; margin-right: 20%;
}

.docListing {
	float: left; width: 70%; /*height: 130px;*/ padding: 1% 15%;
}

.listing {
	min-height: 500px;
}

.docListingRight {
	float: right; width: auto; text-align: center;
}

.queryAppointment {
	margin-top: 10px;
}

.videoAppointment, .queryAppointment {
	background-color: #359EBB; border: 1px solid #359EBB;
	border-radius: 12px; padding: 8px 0; color: #fff;
	font-family: segoe ui; font-size: 16px;
}

.vaRate, .qRate {
	background-color: #1A83A0; padding: 0 6px;
}

.vaText, .qText {
	padding: 0 10px; /*padding-top: 3px;*/
}

.docListingLeft {
	width: auto;
}

.docListingLeft .drImage {
	max-height: 327px; float: left; width: 12%; min-width: 130px;
}

.docListingLeft .drDetails {
	padding-left: 3%; padding-top: 20px !important; float: left;
	/*height: 110px;*/ width: auto;
}

.docListingLeft .drDetails h4 {
	margin-top: 0 !important;
}

.listingHeaderContent {
	width: 100%; height: 76px; position: relative; float: left;
	background-color: #349DBA;
}

.drDegree {
	font-weight: 500;
}

.drSpeciality {
	font-size: 14px; font-family: Georgia;
}

.drPractice {
	font-family: Georgia;
}

.odd {
	background-color: #D8E9F0 !important;
}

.even {
	background-color: #fff !important;
}

@media ( min-width : 520px) and (max-width: 700px) {
	.left {
		width: 100%; margin-bottom: 20px;
	}
	.leftcomment {
		margin-left: 5%; height: 70px;
	}
	.rightcomment {
		margin-right: 5%; height: 70px;
	}
	.right {
		width: 100%;
	}
	.commentImage {
		width: 8%; margin: -1% -6% 0 0;
	}
	.lowerBodyContent {
		height: auto;
	}
}

@media (max-width: 700px) {
	.selectSpecialistSection .box {
		width: 42%;
	}
	.specialistRow .third {
		margin-left: 0 !important;
	}
	.upperBodyContentInputs #cssmenu {
		width: 62% !important; margin-left: 20.5% !important;
	}
	.search-input {
		margin-left: 19% !important; margin-top: 3%; width: 62% !important;
	}
}

@media ( min-width : 510px) and (max-width: 590px) {
	.searchInput {
		font-size: 20px; line-height: 3em; padding: 0 1%;
	}
}

@media (max-width: 509px) {
	.searchInput {
		font-size: 16px; line-height: 3em; padding: 0 1%;
	}
}

@media  (max-width: 519px) {
	.left {
		width: 100%; margin-bottom: 20px;
	}
	.leftcomment {
		margin-left: 5%; height: 70px;
	}
	.rightcomment {
		margin-right: 5%; height: 70px;
	}
	.right {
		width: 100%;
	}
	.commentImage {
		width: 10%; margin: -1% -6% 0 0;
	}
	.lowerBodyContent {
		height: auto;
	}
}

@media only screen and (max-width: 359px) {
	.headerSection1 {
		width: 40%;
	}
	.headerSection2 {
		width: 27%;
	}
}

@media (max-width: 460px) {
	.footerImage {
		width: 100% !important; max-width: 145px; margin-bottom: 10px;
	}
	.footerImages {
		width: 86% !important; padding-left: calc(( 100% - 320px)/2) !important;
	}
	.footerimg, .footerLastImg {
		margin-top: 0 !important;
	}
}

@media (max-width: 559px) {
	.whyMedicsSectionLeft {
		width: 96%; padding: 0 1.5% 0 2%;
	}
	.whyMedicsSectionCentre {
		width: 96%; padding: 0 1.5% 0 1.5%;
	}
	.whyMedicsSectionRight {
		width: 96%; padding: 0 2% 0 1.5%;
	}
	.footerImage {
		width: 55%; max-width: 145px;
	}
	.footerImages {
		width: 70%; padding-left: calc(( 100% - 320px)/2);
	}
	.footerimg {
		clear: both; margin-top: 10px;
	}
	.footerLastImg {
		margin-top: 10px;
	}
	.footerLinks {
		    width: 98%;
		    margin-left: 1%;
		    font-size: 14px;
		    padding-left: 5%;
	}
	/*.footerLink {
		width: 14%;
	}*/
	}

@media ( min-width : 950px) and (max-width: 1170px) {
	.leftcomment {
		margin-left: 30%; height: 100px;
	}
	.rightcomment {
		margin-right: 30%; height: 100px;
	}
}

@media ( min-width : 810px) and (max-width: 949px) {
	.leftcomment {
		margin-left: 20%;
	}
	.rightcomment {
		margin-right: 20%;
	}
	.footerImage {
		width: 25%; max-width: 145px;
	}
	.footerImages {
		width: 84%; padding-left: calc(( 100% - 640px)/2);
	}
}

@media ( min-width : 701px) and (max-width: 809px) {
	.left {
		width: 100%; margin-bottom: 20px;
	}
	.leftcomment {
		margin-left: 5%; height: 60px;
	}
	.rightcomment {
		margin-right: 5%; height: 60px;
	}
	.right {
		width: 100%;
	}
	.commentImage {
		width: 8%; margin: -1% -6% 0 0;
	}
	.lowerBodyContent {
		height: auto;
	}
	.footerImage {
		width: 35%; max-width: 145px;
	}
	.footerImages {
		width: 70%; padding-left: calc(( 100% - 320px)/2);
	}
	.footerimg {
		clear: both; margin-top: 10px;
	}
	.footerLastImg {
		margin-top: 10px;
	}
}

@media ( min-width : 560px) and (max-width: 701px) {
	.footerImage {
		width: 45%; max-width: 145px;
	}
	.footerImages {
		width: 70%; padding-left: calc(( 100% - 320px)/2);
	}
	.footerimg {
		clear: both; margin-top: 10px;
	}
	.footerLastImg {
		margin-top: 10px;
	}
}

@media (max-width: 1080px) {
	.container-fluid, .video {
		width: 100% !important;
	}
}

@media ( min-width : 770px) and (max-width: 870px) {
	.item-comment {
		margin-top: 8% !important; font-size: 18px !important;
	}
}

@media (max-width: 769px) {
	.leftSection, .rightSection {
		width: 100% !important; margin-top: 15px;
	}
	.row {
		margin-left: 0 !important;
	}
	.container-fluid, .video {
		margin-right: 0 !important;
	}
}

@media ( min-width : 930px) and (max-width: 1030px) {
	.queryHeaderContent {
		height: 460px; padding-top: 0;
	}
	.filesButton {
		height: 33px; font-size: 18px;
	}
	.shareButton {
		height: 31px; font-size: 18px;
	}
	.queryContentRight .has-sub a img {
		margin-left: 12px !important;
	}
}

@media ( min-width : 770px) and (max-width: 929px) {
	.queryHeaderContent {
		height: 430px; padding-top: 0;
	}
	.search-doctor {
		padding-top: 0 !important;
	}
	.filesButton {
		height: 30px; font-size: 16px;
	}
	.shareButton {
		height: 28px; font-size: 16px;
	}
	.queryContentRight .has-sub a img {
		margin-left: 8px !important;
	}
	.newAccountButton {
		font-size: 18px; line-height: 1.8em;
	}
	.upperQueryContent {
		width: 93%; margin: 0 0% 0 7%;
	}
}

@media ( min-width : 600px) and (max-width: 769px) {
	.queryHeaderContent {
		height: 850px; padding-top: 0;
	}
	.queryContentLeft {
		width: 100% !important;
	}
	.queryContentRight {
		width: 100%; margin-left: 0 !important; margin-top: 3%;
	}
	.drImage {
		float: left; width: 50%;
	}
	.drDetails {
		width: 46%; float: left; padding-top: 0 !important;
	}
	.questionTxt {
		width: 90% !important;
	}
	.newAccountButton {
		width: 25.6%;
	}
	.queryContentRight #cssmenu {
		width: 64%;
	}
	.queryContentRight .has-sub a img {
		margin-left: 10px;
	}
	.newAccountButton {
		font-size: 18px; line-height: 1.8em;
	}
	.shareButton {
		width: 45.6%; font-size: 18px; line-height: 2em;
	}
	.filesButton {
		font-size: 18px; line-height: 2em;
	}
}

@media ( min-width : 530px) and (max-width: 599px) {
	.queryHeaderContent {
		height: 770px;
	}
	.queryContentLeft {
		width: 100% !important;
	}
	.queryContentRight {
		width: 100%; margin-left: 0 !important; margin-top: 3%;
	}
	.drImage {
		float: left; width: 50%;
	}
	.drDetails {
		width: 46%; float: left; padding-top: 0 !important;
	}
	.questionTxt {
		width: 90% !important;
	}
	.newAccountButton {
		width: 25.6%;
	}
	.queryContentRight #cssmenu {
		width: 64%;
	}
	.queryContentRight .has-sub a img {
		margin-left: 7px;
	}
	.newAccountButton {
		font-size: 12px; line-height: 2.1em;
	}
	.shareButton {
		width: 45.6%; font-size: 16px; line-height: 2.2em;
	}
	.filesButton {
		font-size: 16px; line-height: 2.2em;
	}
}

@media ( max-width : 529px) {
	.queryHeaderContent {
		height: 810px; padding-top: 0;
	}
	.queryContentLeft {
		width: 100% !important;
	}
	.queryContentRight {
		width: 100%; margin-left: 0 !important; margin-top: 3%;
	}
	.drImage {
		float: left; width: 30% !important; min-width: 0 !important;
	}
	.drDetails {
		width: 46%; float: left; padding-top: 0 !important;
	}
	.questionTxt {
		width: 90% !important;
	}
	.newAccountButton {
		width: 50.6%;
	}
	.queryContentRight #cssmenu {
		width: 80%;
		margin: 0 0 0 0%;
	}
	.queryContentRight .has-sub a img {
		margin-left: 7px;
	}
	.newAccountButton {
		font-size: 16px; line-height: 2.1em;
		margin-bottom:10px;
	}
	.queryContentRight #cssmenu>ul>li>a>span {
		width: 78%;
	}
	.filesButton {
		width: 92%;
	}
	.shareButton {
		width: 92%; margin: 2% 0 !important;
	}
}

@media ( min-width : 650px) and (max-width: 710px) {
	.queryHeaderContent {
		height: 810px;
	}
}

@media ( min-width : 600px) and (max-width: 649px) {
	.queryHeaderContent {
		height: 785px;
	}
}

@media ( min-width : 745px) and (max-width: 975px) {
	.docListingLeft {
		width: 70%;
	}
	.docListingRight {
		width: 30%;
	}
}

@media ( min-width : 640px) and (max-width: 744px) {
	.docListingLeft {
		width: 70%;
	}
	.search-doctor {
		width: 60% !important;
	}
	.docListingRight {
		width: 30%;
	}
	.docListing {
		width: 92%; padding: 1% 4%;
	}
}

@media ( min-width : 490px) and (max-width: 639px) {
	.docListingLeft {
		width: 100%;
	}
	.search-doctor {
		width: 60% !important;
	}
	.docListingRight {
		width: 100%;
	}
	.docListing {
		height: 200px;
	}
	.videoAppointment {
		width: 46%; margin-top: 2%; float: left;
	}
	.queryAppointment {
		width: 46%; margin-top: 2%; margin-left: 4%; float: left;
	}
}

@media ( min-width : 430px) and (max-width: 489px) {
	.docListingLeft {
		width: 60%;
	}
	.videoAppointment {
		width: 46%; margin-top: 2%; float: left;
	}
	.queryAppointment {
		width: 46%; margin-top: 2%; margin-left: 4%; float: left;
	}
	.docListing {
		width: 96% !important; padding: 1% 1% 1% 3% !important; height: 205px;
	}
	.search-doctor {
		width: 60% !important;
	}
	.docListingRight {
		width: 100%;
	}
}

@import
	url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,300);

@charset "UTF-8";
/* Base Styles */
#cssmenu, #cssmenu ul, #cssmenu li, #cssmenu a, #cssmenu select {
	margin: 0; padding: 0; border: 0; list-style: none; font-weight: normal;
	text-decoration: none; line-height: 1;
	font-family: 'Open Sans', sans-serif; font-size: 14px;
	position: relative; width: 89%; float: left;
}

#cssmenu ul ul {
	width: 134% !important;
}

#cssmenu a {
	line-height: 1.3;
}

#cssmenu {
	width: 38%;
}

#cssmenu>ul>li>a, #cssmenu>select>option {
	font-weight: bold; display: block; background: #349DBA;
	color: #000; text-transform: uppercase; float: left; width: 120%;
}

#cssmenu>ul>li>a>img {
	margin-top: 10px;
}

#cssmenu>ul>li>a>span {
	background: #fff; padding: 10px; display: block; font-size: 13px;
	font-weight: 300; float: left; width: 75%;
}

#cssmenu>ul>li>a:hover {
	text-decoration: none;
}

#cssmenu>ul>li.active {
	border-bottom: none;
}

#cssmenu>ul>li.active>a {
	color: #fff;
}

#cssmenu>ul>li.active>a span {
	background: #349DBA;
}

#cssmenu span.cnt {
	position: absolute; top: 8px; right: 15px; padding: 0; margin: 0;
	background: none;
}
/* Sub menu */
#cssmenu {
	width: 56%; margin-top: 15px; margin: 0 22%;
}

#cssmenu ul ul {
	display: none; position: absolute; top: 36px; z-index: 1;
}

#cssmenu ul ul li {
	border-bottom: 1px solid #e0e0e0; border-top: 0;
}

#cssmenu ul ul a {
	padding: 10px 5px 10px 5px; display: block; color: #349DBA;
	font-size: 13px;
}

#cssmenu ul ul a:hover {
	color: #349DBA;
}

#cssmenu ul ul li.odd, option.odd, #cssmenu>select>option:nth-child(odd)
	{
	background: #f4f4f4;
}

option.odd, option.even {
	color: #349DBA; text-transform: capitalize;
}

#cssmenu ul ul li.even, option.even {
	background: #fff;
}

.menu {
	border: 1px solid #e0e0e0;
}

.search-input {
	position: relative; width: 38%; float: left; height: 30px;
	margin-left: 3%;
}

.search-input input {
	border: none; background: #fff; display: block; width: 100%;
	box-sizing: border-box; height: 36px; border-radius: 20px;
	padding-left: 30px;
}

.search-input img {
	position: absolute; top: 11px; left: 7px;
}

.search-doctor {
	position: relative; width: 45%; float: left; height: 30px;
	margin-left: 8%; padding-top: 3px;margin-bottom:30px
}

.search-doctor #cssmenu {
	width: 300px !important;
}

.search-doctor input {
	border: none; background: #fff; display: block; width: 100%;
	box-sizing: border-box; height: 42px; padding-left: 30px;
	color: #49A8C4; font-size: 20px; line-height: 2em;
}

.search-doctor input::-webkit-input-placeholder {
	color: #49A8C4;
}

.search-doctor img {
	margin-left: 16px;
}

.searchButton {
	width: 14%; height: 42px; background-color: #349DBA; color: #fff;
	font-size: 22px; line-height: 1.9em; float: left;
	font-family: segoe ui; padding: 0 1%; text-align: center;
	margin-left: 2%;
}

.form {
	width: 80%; height: auto; float: left; margin-top: 1%; margin-left: 5%;
}

.social {
	float: left;
	width: 100%;

}

.social img{
	width : 45px;
	padding: 10px 5px;
}	
.form-input {
	position: relative; width: 100%; float: left; /*height: 65px;*/
}

.form-input input {
	border: none; background: #f3f3f3; display: block; width: 100%;
	box-sizing: border-box; height: 44px; padding-left: 30px !important;
	font-size: 18px; font-family: segoe ui;
}

.form-input img {
	position: absolute; top: 11px; left: 7px;
}

.leftSection, .rightSection {
	float: left; width: 50%;
}

.rightSection h4 {
	font-family: "Georgia"; margin-left: 5%;
}

img {
	max-width: 100%;
}

a {
	-webkit-transition: all 150ms ease; -moz-transition: all 150ms ease;
	-ms-transition: all 150ms ease; -o-transition: all 150ms ease;
	transition: all 150ms ease;
}

a:hover {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	/* IE 8 */ filter: alpha(opacity = 50); /* IE7 */ opacity: 0.6;
	text-decoration: none;
}

.carousel {
	margin-bottom: 0px !important;
}
/* Container */
.container-fluid {
	height: 156px; padding: 0px 0px; width: 80%;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); float: right;
	margin-right: 5%; border: 2px solid #f3f3f3;
}

.row-fluid {
	height: 100%;
}

.carousel-control {
	top: 45%; width: 40px !important; font-size: 36px !important;
}

.carousel-control.right {
	padding-top: 5px; height: 35px; right: 0px !important;
}

.carousel-control.left {
	padding-top: 5px; height: 35px; left: 0px !important;
}

.item-comment {
	padding-left: 50px; padding-right: 50px;
}

.video {
	background-color: black; margin-top: 5%; float: right; margin-right: 5%;
	width: 80%;
}

.span12, #myCarousel, .carousel-inner, .item, .item-comment {
	height: 100%;
}

.item-comment {
	margin-top: 6%; font-size: 18px; font-family: Georgia;
	font-style: italic;
}

.item-comment p {
	margin-top: 8%; font-weight: bold;
}

.file-btn {
	background-color: #42A9C8;/*  padding: 5px 10px 5px 10px; */ color: #FFF;
	display: inline-block; cursor: pointer; font-size: 14px;
	font-weight: normal; line-height: 2.42857143; text-align: center;
}

.headerSectionLogo {
	height: 100%; position: relative; float: left; text-align: center;
	left: 2%; margin-left: 10%
}

.pageHeader {
	color: #359EBB; margin: auto auto -20px auto; font-size: 20px;
	font-family: sans-serif; font-weight: normal;
}

input.imgBtn {
	/*  	border: 1px solid #000;
 */ /* border-radius:5px; */
	color: #359EBB; float: right; cursor: pointer; padding-left: 24px;
	font-size: 12px; letter-spacing: .05em; margin: 1px;
}

@media only screen and ( max-width: 767px) {
	.rwd-table {
		min-width: 300px;
	}
	div#remTd {
		margin: 0px !important;
	}
	.rwd-table th {
		display: none;
	}
	.rwd-table td {
		display: block; border: none
	}
	td.flex {
		display: flex !important;
	}
	.rwd-table td:first-child {
		padding-top: .5em;
	}
	.rwd-table td:last-child {
		padding-bottom: .5em;
	}
	.rwd-table td:before {
		content: attr(data-th); font-weight: bold; width: 10em;
		display: inline-block;
	}
	.rwd-table th, .rwd-table td {
		text-align: left;
	}
	.rwd-table tr {
		border: 1px solid #067aa7
	}
	body {
		background: url(images/body.png) !important;
	}
}

input[type="radio"], input[type="checkbox"] {
	margin: auto;
}

.center {
	text-align: center;
}

.footer-padding {
	padding: 10px;
}

@media ( max-width : 767px) {
	body {
		font-family: 'Open Sans', sans-serif; width: 90%;
	}
	#cssmenu>ul>li>a, #cssmenu>select>option {
		/* font-size: 15px; */
		/* font-weight: bold; */
		display: block; background: #349DBA; color: #000;
		text-transform: uppercase; float: left; width: 190%;
	}
	#cssmenu>ul>li>a>span {
		background: #fff; padding: 10px; display: block; font-size: 12px;
		font-weight: 400; float: left; width: 67%;
	}
	.searchInput {
		width: auto; margin-top: 15px; height: 45px; background-color: #349DBA;
		margin: 0 calc(30%/ 2); color: #fff; font-size: 15px;
		line-height: 3em;
	}
	.footerHeader {
		width: 100%; text-align: center; margin: 20px 0; font-size: 20px;
		font-family: Georgia; color: #fff;
	}
	#cssmenu ul ul a {
		padding: 10px 5px 10px 5px; display: block; color: #349DBA;
		font-size: 14px;
	}
	.submitButton {
		width: auto; margin-top: 15px; height: auto; background-color: #349DBA;
		color: #fff; font-size: 14px; line-height: 1.2em; float: left;
		font-family: 'Open Sans', sans-serif; padding: 2%;
	}
	.headerContent {
		width: 100%; height: auto; position: relative; float: left;
	}
	.upperBodyContent {
		width: 100%; height: auto; position: relative; text-align: center;
		margin-top: 12%;
		/* margin-left: auto; */
		/* margin-right: auto; */
	}
	.upperBodyContentInputs {
		float: left; width: 60%; padding: 2% 10%;
	}
	#cssmenu ul ul {
		width: 213% !important;
	}
	.loginModal {
		background: #E9EDF8; right: 0;
	}
	.loginFooter input {
		width: 44%; margin-top: 10%;
	}
}

@media ( min-width : 978px) and (max-width: 1024px) {
	.loginModal {
		background: #E9EDF8; right: 16%;
	}
}

@media ( min-width : 768px) and (max-width: 979px) {
	.loginModal {
		background: #E9EDF8; right: 0%;
	}
}

@media ( min-width : 768px) and (max-width: 1024px) {
	body {
		width: 100%;
	}
	.searchInput {
		margin: 0 calc(40%/ 2);
		/* color: #fff; */ font-size: 15px; line-height: 3em;
	}
	.upperBodyContentInputs {
		padding: 2% 13%; width: 80%;
	}
}

@media ( min-width : 980px) {
	.nav-collapse.collapse {
		padding-right: 12%;
	}
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5) , only screen and
		(-o-min-device-pixel-ratio: 3/2) , only screen and
		(min--moz-device-pixel-ratio: 1.5) , only screen and
	(min-device-pixel-ratio: 1.5) {
	html, body {
		width: 100%; overflow-x: hidden;
	}
}

div .mainContent {
	width: 60%; margin: 50px auto; background: #E4F4F8; 
}

.button-custom {
	background: #349DBA; color: #ededed; border-radius: 2px;
	padding: 2px 20px;
}


.filesButton1 {
	width: 20%;height:auto; background-color: #349DBA; color: #fff;
	font-size: 20px; line-height: 1.8em; float: left;
	font-family: segoe ui; padding: 0 1%; text-align: center;
}

#pofilePicture > img {
	max-width:250px;
}


div .mainContentFamilyHistory {
	width: 40%	;
	 margin: auto;
}
#perDayDiv {
		margin-left:125px;
	}


#remTd {
		margin-right:180px;
		float:right ; 
		width: 50px;
	}
	
#remTime {
	margin-left: 125px;width: auto;
}

.subscriberDiv{
	
	min-height: 500px; 
	overflow: hidden; 
	width: 80%; height: 
	240px; 
	float: left;
	
}


.publisherDiv {
	margin-top:-200px;
	min-height: 200px;
	min-width: 200px;
	float: left;
}

.endSessionDiv{
	float:right;
}

.profilePicDiv{
	padding-right: auto; 
	float: right;
	 background-color:
	  transparent;
	   text-align: center;
	   width:50%
}
/* */

div .mainContentBigger {
	width: 76%; margin: 50px auto; background: #E4F4F8; 
}


.profilePicDiv {
	padding-right: auto;
	 float: right; 
	 background-color: transparent; 
	 text-align: center;
}


.queryButtonDiv{
		
	margin: 0 0 0 0%;
	width: 50%;
	
}

.hrStyle hr{
	border-top :1px solid #000;
	margin:0;
}


.subHeader {
	 /*margin: auto auto -20px auto;*/
	font-size: 16px;
	 font-family: sans-serif; font-weight: 600;
}

.btn-green {
  background-color: #7DBD2C;
  padding: 5px 8px 5px 0;
  border:none;
  border-radius:0px;
}

.docProfileTabs{
	margin:10px auto;
}

.doc-profile-div .row {
	margin-bottom:10px;
}


.docProfileTabs .nav{
	background: #FAF8F9;
}

.docProfileTabs .nav-tabs>.active>a, 
.docProfileTabs .nav-tabs>.active>a:hover, 
.docProfileTabs .nav-tabs>.active>a:focus {
	
	background : #349DBA;
	color:	#FFF;
}

.para {
	margin : auto 100px  30px auto;
	text-align : justify;
	padding: auto 20px;
}

.map_container{
    position: relative;
    width: 60%;
    padding-bottom: 56.25%; /* Ratio 16:9 ( 100%/16*9 = 56.25% ) */
    float: right;
}
.map_container .map_canvas{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    height:60%;
}

@media (max-width: 559px) {
	
		div .mainContent, div .mainContentFamilyHistory,
		div .mainContentBigger  {
		width: 98%; margin: auto;	
		 text-align: center;
	}
	
	.pageHeader {
		display: inline-block;
   		
	}

	.pageHeader>h3{
		font-size:smaller;
   		padding:20px auto;
	}
	hr{ display:none; }
	
	
	.accountName {
		text-align: center;
		float:none;
		margin-right: auto;
	}
	
	
	#perDayDiv {
		margin-left:0px;
	}
	
	#remTd {
		margin-right:0px;
	}
	
	#remTime {
	margin-left: 0px;width: auto;
	}
	
	.endSessionDiv{
		float:none;
	}
	.profilePicDiv{
	 	width:95%;
	}
	
	.docListingRight {
    	float: left;
   	    display: inline-flex;
   	        padding: 5px;

   }
   
	.videoAppointment, .queryAppointment {
	 font-size: 13px;
    	margin: auto 0 10px 10px;
    	font-family: sans-serif;
	}
	
	.docListingLeft .drDetails {
		width: 65%; 
		float: left;
		 padding-top: 0 !important;
		 font-family: sans-serif;
	}
	
	
	.drDescription, .drSpeciality  {
   	 font-size: 14px;
   	 font-family: sans-serif;
   }
   
   .docListingLeft .drDetails h4 {
    margin: 0 !important;
	}

	.vaText, .qText {
    	padding: 0 3px;
   	}
  
  .search-doctor #cssmenu {
    width: 230px !important;
	}
	
		.searchInput {
		width: auto; margin-top: 15px; height: 45px; background-color: #349DBA;
		margin: 0 calc(20%/ 2); color: #fff; font-size: 15px;
		line-height: 3em;
	}

	.social img{
		width : 30px;	
	}
	
	.social {
   		width: 90%;
	}
	
	.profilePicDiv {
	 float: none; 
	}

	.queryButtonDiv{
		width: 80%;		
	}

	.para {
		margin : auto;
	}
	
	.map_container, .map_canvas{
    	width: 100%;
    	height:100%;
    }
    
   .map_container .map_canvas {
		height: 100%;
	}
    
   #docDetails {
		width: 100%;
	}
	
	.btn-green {
	  padding: 5px 2px 5px 0;
	}


}


@media ( min-width : 560px) and (max-width: 979px)  {
	
	div .mainContent ,div .mainContentBigger {
    width: 90%;
    margin: 50px auto;
    background: #E4F4F8;
	}

	#perDayDiv {
		margin-left:10px;
	}
		
	#perDayDiv {
		margin-left:125px;
	}
	
	#remTd {
		margin-right:0px;
	}
	
	.profilePicDiv{
	 	width:90%;
	}
	
	.docListingRight {
    	float: left;
   	    display: inline-flex;
   	    padding: 5px;

   }
   
	.videoAppointment, .queryAppointment {
    	margin: auto 5px 0 10px;
	}
	
	.docListingLeft .drDetails {
		width: 50%; 
		float: left;
		 padding-top: 0 !important;
	}
	
	.social  img{
		width : 35px;
	}
	
	.profilePicDiv {
	 float: none; 
	}

	.queryButtonDiv{
		width: 80%;		
	}

	
	.para {
		margin : auto;
	}
	
	.map_container, .map_canvas{
    	width: 100%;
    	height:100%;
    }
	
	.map_container .map_canvas {
		height: 100%;
	}
	
	#docDetails {
		width: 50%;
	}

	.btn-green {
	  padding: 5px 2px 5px 0;
	}

}


#familyhistorydataform  label {
    display: inline;
    margin:auto 15px;
}


#loadingIMG {position:fixed;top:50%;left:50%;z-index:1104;}


.ques{
	font-weight : bold;
	
}

.faqSection {
	padding: 0 20px 20px 20px;
}

.footerLink a {
	padding:5px;
}

.blogSection{
	background : #FFF;
	padding :10px;
	 text-align: center;
	 border:solid 1px #349DBA ;
	 height: 400px;
}


.button-custom-big input[type="button"] {
	background: #349DBA; color: #ededed; border-radius: 1px;
	padding: 5px 20px;
	
	width:100%;
	font-size:16px;
	margin-bottom:20px;
}


.background{
	border: 2px solid #ccc; 
	padding:10px;
	padding-top: 30px;
	background: #FFF;
}
