@media only screen and (max-width:500px){.medi .top-bar{/*display:none;*/}
}
@media only screen and (max-device-width:700px){.medi .top-bar{/*display:none;*/}
}
@media (min-width:701px) and (max-width:1000px){.medi .top-bar .left-content{display:none;}
.medi .top-bar .right-content{float:none;display:inline-block;margin:0 0 -4px 0;}
}
@media (min-device-width:701px) and (max-device-width:1000px){.medi .top-bar .left-content{display:none;}
.medi .top-bar .right-content{float:none;display:inline-block;margin:0 0 -4px 0;}
}
@media only screen and (max-width:640px){.medi .navbar-default .container{min-height:70px;}
.medi .navbar-default .navbar-brand img{width:50%;}
.medi .navbar-default .navbar-right{padding:0px;}
.medi .navbar-default .navbar-toggle{margin-top:20px;}
.medi .navbar-default .navbar-nav>li>a{border-radius:0px;}
.medi .navbar-default .navbar-nav>li.dropdown>ul.dropdown-menu{padding-left:20px;}
.medi .navbar-default .navbar-nav>li.dropdown>ul.dropdown-menu>li>a{border-bottom:none;}
.medi .navbar-default .navbar-nav>li.dropdown>ul.dropdown-menu>li>a:hover{background-color:#ffffff;color:#02adc6;}
.medi .navbar-default .navbar-nav>li.dropdown.yamm-fw>ul.dropdown-menu{padding-left:0px;}
}
@media only screen and (max-device-width:640px){.medi .navbar-default .container{min-height:70px;}
.medi .navbar-default .navbar-brand img{width:50%;}
.medi .navbar-default .navbar-right{padding:0px;}
.medi .navbar-default .navbar-toggle{margin-top:20px;}
.medi .navbar-default .navbar-nav>li>a{border-radius:0px;}
.medi .navbar-default .navbar-nav>li.dropdown>ul.dropdown-menu{padding-left:20px;}
.medi .navbar-default .navbar-nav>li.dropdown>ul.dropdown-menu>li>a{border-bottom:none;}
.medi .navbar-default .navbar-nav>li.dropdown>ul.dropdown-menu>li>a:hover{background-color:#ffffff;color:#02adc6;}
.medi .navbar-default .navbar-nav>li.dropdown.yamm-fw>ul.dropdown-menu{padding-left:0px;}
}
@media only screen and (min-device-width:640px) and (max-device-width:740px){.medi .navbar-default .container{min-height:70px;}
.medi .navbar-default .navbar-brand img{width:50%;padding-top:0px;}
.medi .navbar-default .navbar-right{padding:0px;}
.medi .navbar-default .navbar-toggle{margin-top:20px;}
.medi .navbar-default .navbar-nav>li>a{border-radius:0px;}
.medi .navbar-default .navbar-nav>li.dropdown>ul.dropdown-menu{padding-left:20px;}
.medi .navbar-default .navbar-nav>li.dropdown>ul.dropdown-menu>li>a{border-bottom:none;}
.medi .navbar-default .navbar-nav>li.dropdown>ul.dropdown-menu>li>a:hover{background-color:#ffffff;color:#02adc6;}
.medi .navbar-default .navbar-nav>li.dropdown.yamm-fw>ul.dropdown-menu{padding-left:0px;}
}
@media (min-width:750px) and (max-width:1000px){.medi .navbar-default .navbar-brand img{width:70%;padding-top:10px;}
.medi .navbar-default .navbar-nav>li>a{font-family:'Raleway', sans-serif;font-size:12px;color:#333333;padding:12px 9px !important;border-radius:5px;}
}
@media (min-device-width:750px) and (max-device-width:1000px){.medi .navbar-default .navbar-brand img{width:70%;padding-top:10px;}
.medi .navbar-default .navbar-nav>li>a{font-family:'Raleway', sans-serif;font-size:12px;color:#333333;padding:12px 9px !important;border-radius:5px;}
}
@media only screen and (max-width:992px){.sticky-nav{position:inherit !important;}
}
@media only screen and (max-device-width:992px){.sticky-nav{position:inherit !important;}
}
@media only screen and (max-width:700px){.info-block h3{font-family:'Raleway', sans-serif;font-size:7px;font-weight:800;color:#02adc6;text-transform:uppercase;margin-bottom:5px;padding-top:5px;}
.info-block p{display:none;}
.tp-leftarrow.default{display:none;}
.tp-rightarrow.default{display:none;}
}
@media only screen and (max-device-width:700px){.info-block h3{font-family:'Raleway', sans-serif;font-size:7px;font-weight:800;color:#02adc6;text-transform:uppercase;margin-bottom:5px;padding-top:5px;}
.info-block p{display:none;}
.tp-leftarrow.default{display:none;}
.tp-rightarrow.default{display:none;}
}
@media (min-width:700px) and (max-width:1000px){.info-block h3{font-family:'Raleway', sans-serif;font-size:22px;font-weight:800;color:#02adc6;text-transform:uppercase;margin-bottom:10px;padding-top:10px;}
.info-block p{white-space:nowrap;line-height:16px;letter-spacing:0px;font-size:11px;visibility:visible;font-weight:500;}
.tp-leftarrow.default{display:none;}
.tp-rightarrow.default{display:none;}
}
@media (min-device-width:700px) and (max-device-width:1000px){.info-block h3{font-family:'Raleway', sans-serif;font-size:22px;font-weight:800;color:#02adc6;text-transform:uppercase;margin-bottom:10px;padding-top:10px;}
.info-block p{white-space:nowrap;line-height:16px;letter-spacing:0px;font-size:11px;visibility:visible;font-weight:500;}
.tp-leftarrow.default{display:none;}
.tp-rightarrow.default{display:none;}
}
@media only screen and (max-width:500px){.service-section .service-block .icon{float:none;display:inline-block;}
.service-section .service-block{text-align:center;}
.service-section .service-block .detail{float:right;width:100%;margin:12px 0 0 0;}
.rm-link{display:block;}
}
@media only screen and (max-device-width:500px){.service-section .service-block .icon{float:none;display:inline-block;}
.service-section .service-block{text-align:center;}
.service-section .service-block .detail{float:right;width:100%;margin:12px 0 0 0;}
.rm-link{display:block;}
}
@media (min-width:700px) and (max-width:1000px){.welcome-section .tabbed-accordion .contentarea .detail{margin-top:30px;}
}
@media (min-device-width:700px) and (max-device-width:1000px){.welcome-section .tabbed-accordion .contentarea .detail{margin-top:30px;}
}
@media only screen and (max-width:500px){.welcome-section .title h1{font-size:28px;}
.welcome-section .tabbed-accordion .tabs ul>li{display:block;margin-right:0px;}
.welcome-section .tabbed-accordion .tabs ul>li>a{font-size:16px;padding:4px 10px;}
.welcome-section .tabbed-accordion .tabs ul>li.active>a{border-bottom:0px;background-color:#02adc6;padding:4px 10px;color:#ffffff;display:block;}
.welcome-section .tabbed-accordion .contentarea .detail{margin-top:30px;}
.welcome-section .tabbed-accordion .contentarea .detail h3{font-size:24px;}
}
@media only screen and (max-device-width:500px){.welcome-section .title h1{font-size:28px;}
.welcome-section .tabbed-accordion .tabs ul>li{display:block;margin-right:0px;}
.welcome-section .tabbed-accordion .tabs ul>li>a{font-size:16px;padding:4px 10px;}
.welcome-section .tabbed-accordion .tabs ul>li.active>a{border-bottom:0px;background-color:#02adc6;padding:4px 10px;color:#ffffff;display:block;}
.welcome-section .tabbed-accordion .contentarea .detail{margin-top:30px;}
.welcome-section .tabbed-accordion .contentarea .detail h3{font-size:24px;}
}
@media only screen and (max-width:500px){.quote-section h4{font-size:36px;margin:60% 0 0 0;}
.quote-section{background-size:423% !important;background-position:-440px 0 !important;background-image:url(../images/background/dr-testimonial-bg.jpg);}
}
@media only screen and (max-device-width:500px){.quote-section h4{font-size:36px;margin:60% 0 0 0;}
.quote-section{background-size:cover !important;background-position:-440px 0 !important;background-image:url(../images/background/dr-testimonial-bg.jpg);}
}
@media (min-width:700px) and (max-width:770px){.quote-section{background-size:216% !important;background-position:-264px 0 !important;height:440px;}
}
@media (min-device-width:700px) and (max-device-width:770px){.quote-section{background-size:216% !important;background-position:-264px 0 !important;height:440px;}
}
@media (min-width:771px) and (max-width:992px){.quote-section{background-size:182%;background-position:-200px 0;height:440px;}
}
@media (min-device-width:771px) and (max-device-width:992px){.quote-section{background-size:182%;background-position:-200px 0;height:440px;}
}
@media only screen and (max-width:500px){.travel-accomodation-section .title h2{font-size:32px;}
.travel-accomodation-section .owl-theme .owl-controls .owl-buttons{display:none;}
}
@media only screen and (max-device-width:500px){.travel-accomodation-section .title h2{font-size:32px;}
.travel-accomodation-section .owl-theme .owl-controls .owl-buttons{display:none;}
}
@media (min-width:700px) and (max-width:1000px){.travel-accomodation-section .owl-theme .owl-controls .owl-buttons{display:none;}
}
@media (min-device-width:700px) and (max-device-width:1000px){.travel-accomodation-section .owl-theme .owl-controls .owl-buttons{display:none;}
}
@media only screen and (max-width:500px){.testimonial-section{background-size:400%;}
.testimonial-section .title h2{font-size:28px;}
#testimonial_slider .item p{font-size:16px;}
}
@media only screen and (max-device-width:500px){.testimonial-section{background-size:cover;}
.testimonial-section .title h2{font-size:28px;}
#testimonial_slider .item p{font-size:16px;}
}
@media (min-width:700px) and (max-width:992px){.testimonial-section{background-size:160%;}
}
@media (min-device-width:700px) and (max-device-width:992px){.testimonial-section{background-size:160%;}
}
@media only screen and (max-width:500px){.footer-top .emergency .text{font-size:15px;}
.footer-top .emergency .number{font-size:32px;}
}
@media only screen and (max-device-width:500px){.footer-top .emergency .text{font-size:15px;}
.footer-top .emergency .number{font-size:32px;}
}
@media only screen and (max-width:500px){.footer-bottom .copyrighttxt{float:none;}
.footer-bottom .copyrighttxt p{text-align:center;}
.footer-bottom ul.social-icons, .footer-bottom ul.social-icons-text{float:none;text-align:center;margin-top:10px;}
}
@media only screen and (max-device-width:500px){.footer-bottom .copyrighttxt{float:none;}
.footer-bottom .copyrighttxt p{text-align:center;}
.footer-bottom ul.social-icons, .footer-bottom ul.social-icons-text{float:none;text-align:center;margin-top:10px;clear:left;}
}
@media only screen and (max-width:500px){.short-details .title h1{font-size:26px;}
.short-details .site-link{padding-top:5px;float:none;font-size:17px;}
}
@media only screen and (max-device-width:500px){.short-details .title h1{font-size:26px;}
.short-details .site-link{padding-top:5px;float:none;font-size:17px;}
}
@media only screen and (max-width:500px){.detail-container .hospital-details .col-divider{border-right:none;}
.detail-container .hospital-details .certificate-box{padding-top:20px;}
.detail-container .hospital-details .box-height{min-height:inherit;}
}
@media only screen and (max-device-width:500px){.detail-container .hospital-details .col-divider{border-right:none;}
.detail-container .hospital-details .certificate-box{padding-top:20px;}
.detail-container .hospital-details .box-height{min-height:inherit;}
}
@media (min-width:767px) and (max-width:1000px){.detail-container .hospital-details .col-divider{border-right:none;}
.detail-container .hospital-details .certificate-box{padding-top:20px;}
.detail-container .hospital-details .box-height{min-height:inherit;}
.detail-container .hospital-details .address-box ul>li strong{width:46%;}
}
@media (min-device-width:767px) and (max-device-width:1000px){.detail-container .hospital-details .col-divider{border-right:none;}
.detail-container .hospital-details .certificate-box{padding-top:20px;}
.detail-container .hospital-details .box-height{min-height:inherit;}
.detail-container .hospital-details .address-box ul>li strong{width:46%;}
}
@media only screen and (max-width:500px){.about-section .title h2{font-size:28px;}
.about-section .description p{text-align:justify;}
}
@media only screen and (max-device-width:500px){.about-section .title h2{font-size:28px;}
.about-section .description p{text-align:justify;}
}
@media (min-width:767px) and (max-width:1000px){.about-section .description p{text-align:justify;}
}
@media (min-device-width:767px) and (max-device-width:1000px){.about-section .description p{text-align:justify;}
}
@media only screen and (max-width:500px){.content-area .accordion-container h3{font-size:26px;}
.content-area .accordion-container .mg-accordion .panel-default .panel-heading .panel-title{font-size:16px;}
.content-area .accordion-container .mg-accordion .panel+.panel{margin-top:5px;border:1px solid #dddddd;}
.content-area .accordion-container .mg-accordion .panel-default .panel-heading .panel-title a i{display:none;}
}
@media only screen and (max-device-width:500px){.content-area .accordion-container h3{font-size:26px;}
.content-area .accordion-container .mg-accordion .panel-default .panel-heading .panel-title{font-size:16px;}
.content-area .accordion-container .mg-accordion .panel+.panel{margin-top:5px;border:1px solid #dddddd;}
.content-area .accordion-container .mg-accordion .panel-default .panel-heading .panel-title a i{display:none;}
}
@media only screen and (max-width:500px){.cost-compare-section .table-responsive{max-height:305px;overflow-y:auto;}
}
@media only screen and (max-device-width:500px){.cost-compare-section .table-responsive{max-height:305px;overflow-y:auto;}
}
@media only screen and (max-width:1000px){.listing-section .list-box .detail-area h2{margin-top:20px;}
}
@media only screen and (max-device-width:1000px){.listing-section .list-box .detail-area h2{margin-top:20px;}
}
@media only screen and (min-width:1200px){.speciality-content-area .innertab-accordion .col-md-3{padding-right:0px;}
.speciality-content-area .innertab-accordion .col-md-9{padding-left:0px;}
}
@media only screen and (min-device-width:1200px){.speciality-content-area .innertab-accordion .col-md-3{padding-right:0px;}
.speciality-content-area .innertab-accordion .col-md-9{padding-left:0px;}
}
@media only screen and (max-width:500px){.speciality-content-area .innertab-accordion .tabs ul>li>a{border-right:1px solid #d2d2d2;}
.speciality-content-area .innertab-accordion .tabs ul>li.tab-active>a{border-right:1px solid #d2d2d2;}
.speciality-content-area .innertab-accordion .accordion-contentarea{margin-top:20px;margin-left:0px;}
.speciality-content-area .innertab-accordion .accordion-contentarea h2{font-size:24px;}
.speciality-content-area .innertab-accordion .accordion-contentarea h3{font-size:20px;}
.speciality-content-area .innertab-accordion .accordion-contentarea h4{font-size:16px;}
.speciality-content-area .innertab-accordion .accordion-contentarea h5{font-size:14px;}
}
@media only screen and (max-device-width:500px){.speciality-content-area .innertab-accordion .tabs ul>li>a{border-right:1px solid #d2d2d2;}
.speciality-content-area .innertab-accordion .tabs ul>li.tab-active>a{border-right:1px solid #d2d2d2;}
.speciality-content-area .innertab-accordion .accordion-contentarea{margin-top:20px;margin-left:0px;}
.speciality-content-area .innertab-accordion .accordion-contentarea h2{font-size:24px;}
.speciality-content-area .innertab-accordion .accordion-contentarea h3{font-size:20px;}
.speciality-content-area .innertab-accordion .accordion-contentarea h4{font-size:16px;}
.speciality-content-area .innertab-accordion .accordion-contentarea h5{font-size:14px;}
}
@media (min-width:767px) and (max-width:1000px){.speciality-content-area .innertab-accordion .tabs ul>li>a{border-right:1px solid #d2d2d2;}
.speciality-content-area .innertab-accordion .tabs ul>li.tab-active>a{border-right:1px solid #d2d2d2;}
.speciality-content-area .innertab-accordion .accordion-contentarea{margin-top:20px;margin-left:0px;}
}
@media (min-width:767px) and (max-device-width:1000px){.speciality-content-area .innertab-accordion .tabs ul>li>a{border-right:1px solid #d2d2d2;}
.speciality-content-area .innertab-accordion .tabs ul>li.tab-active>a{border-right:1px solid #d2d2d2;}
.speciality-content-area .innertab-accordion .accordion-contentarea{margin-top:20px;margin-left:0px;}
}
@media (min-width:768px){.col-sm-15{width:20%;float:left;}
}
@media (min-width:992px){.col-md-15{width:20%;float:left;}
}
@media (min-width:1200px){.col-lg-15{width:20%;float:left;}
}
@media only screen and (max-width:500px){section.thankyou .txt-img h1{font-size:45px;}
section.thankyou .txt-img img{max-width:135px;}
section.thankyou .txt-img .btn-click, section.thankyou .txt-img .btn-click:hover,
section.thankyou .txt-img .btn-click:focus{font-size:12px;margin-top:30px;}
.side-form .widget-area .buttonarea{position:absolute;}
}
@media only screen and (max-width:375px) and (orientation:portrait){.side-form .widget-area .enquire-form{max-height:460px;}
}
@media only screen and (max-device-width:375px) and (orientation:portrait){.side-form .widget-area .enquire-form{max-height:460px;}
}
@media only screen and (max-width:500px) and (orientation:landscape){.side-form .widget-area .enquire-form{max-height:300px;}
}
@media only screen and (max-device-width:500px) and (orientation:landscape){.side-form .widget-area .enquire-form{max-height:300px;}
}
@media (min-width:330px) and (max-width:500px) and (orientation:portrait){.side-form .widget-area .enquire-form{max-height:600px;}
}
@media only screen and (min-device-width:330px) and (max-device-width:500px) and (orientation:portrait){.side-form .widget-area .enquire-form{max-height:600px;}
}
@media (min-width:330px) and (max-width:668px) and (orientation:landscape){.side-form .widget-area .enquire-form{max-height:330px;}
.medi .top-bar{/*display:none;*/}
}
@media only screen and (min-device-width:330px) and (max-device-width:668px) and (orientation:landscape){.side-form .widget-area .enquire-form{max-height:330px;}
}
@media only screen and (min-device-width:669px) and (max-device-width:740px) and (orientation:landscape){.side-form .widget-area .enquire-form{max-height:400px;}
.medi .top-bar{/*display:none;*/}
.info-block h3{font-size:16px;}
.info-block p{font-size:10px;}
}
@media only screen and (min-device-width:330px) and (max-device-width:500px) and (orientation:portrait){.side-form .widget-area .enquire-form{max-height:650px;}
}
@media only screen and (min-device-width:1020px) and (max-device-width:1050px) and (orientation:landscape){.medi .navbar-default .navbar-nav>li>a{padding:12px 15px !important;}
.info-block h3{font-size:23px;}
.info-block p{font-size:13px;}
}
@media only screen and (min-width:330px) and (max-width:500px) and
(orientation:portrait){.side-form .widget-area .enquire-form{max-height:600px;}
}


/*top bar*/

@media only screen and (max-width: 500px) {
    .medi .top-bar {
        display: block;
    }
    .medi .top-bar .right-content ul > li
    {
        border-left: none !important;
    }
.medi .top-bar .right-content ul > li > a  span
     {
        display: none;
     }
    .medi .top-bar .right-content ul  li  a img 
    {
    	display: none;
    }
    .medi .top-bar .right-content ul > li > a 
    {
    font-size: 14px !important;
	}
    .medi .top-bar .right-content ul > li:nth-child(4) a 
    {
    padding: 13px 14px 13px 0px;
    }
	 .medi .top-bar .right-content ul > li:nth-child(2)
	 {
	 	display: none;
	 }
	 
      .medi .top-bar .right-content ul > li:last-child
     {
        display: none;
     }
}

@media only screen and (max-device-width: 700px) {
    .medi .top-bar {
        display: block;
    }
    .medi .top-bar .right-content ul > li
    {
        border-left: none !important;
    }
.medi .top-bar .right-content ul > li > a  span
     {
        display: none;
     }
    .medi .top-bar .right-content ul  li  a img 
    {
    	display: none;
    }
    .medi .top-bar .right-content ul > li > a 
    {
    font-size: 14px !important;
	}
    .medi .top-bar .right-content ul > li:nth-child(4) a 
    {
    padding: 13px 14px 13px 0px;
    }
	 .medi .top-bar .right-content ul > li:nth-child(2)
	 {
	 	display: none;
	 }
	 
      .medi .top-bar .right-content ul > li:last-child
     {
        display: none;
     }

}


@media (min-width: 701px) and (max-width: 1000px) {
    .medi .top-bar .left-content {
        display: none;
    }
    .medi .top-bar .right-content {
        float: none;
        display: inline-block;
        margin: 0 0 -4px 0;
    }
     .medi .top-bar .right-content ul  li  a img 
    {
        display: none;
    }
    .medi .top-bar .right-content ul > li > a 
    {
    font-size: 13px !important;
    }

     .medi .top-bar .right-content ul > li:first-child
     {
        border-left: none;
     }

 
}
@media only screen and (max-device-width: 480px) and (min-device-width: 320px)  and (orientation: landscape) 
{

 .medi .top-bar .right-content 
     {
        float: left !important;
     }

}
@media only screen and (max-device-width: 670px) and (min-device-width: 481px)  and (orientation: landscape) 
{
    .medi .top-bar .right-content ul > li:first-child
     {
        width: auto;
     }
.medi .top-bar .right-content ul > li > a 
{
    font-size: 16px !important;   
     padding: 13px 16px !important;
}
 .medi .top-bar .right-content ul > li:nth-child(3)
     {
        border-left: solid 1px #9fa3aa;
        padding-left: 0px;
     }
}
@media only screen and (max-device-width: 1024px) and (min-device-width: 992px)  and (orientation: landscape) 
{
    .medi .top-bar .right-content {
        float: left !important;
    }
     .medi .top-bar .right-content ul > li:first-child
     {
        border-left: none;
        margin-left: 35px;
     }

}