@import
url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700);@import
url(http://fonts.googleapis.com/css?family=Raleway:500,600,700,800,900,400,300);@import
url(http://fonts.googleapis.com/css?family=Droid+Serif:400,400italic);p{margin-bottom:0px;font-family:'Source Sans Pro', sans-serif;font-weight:300;font-size:20px;line-height:27px;}
ul{padding-left:0px;margin-bottom:0px;}
body{font-family:'Source Sans Pro', sans-serif;overflow-x:hidden;}
a{transition:all .4s;-webkit-transition:all .4s;-moz-transition:all .4s;-o-transition:all .4s;}
a:focus{outline:none;}
h1, h2, h3, h4, h5, h6{margin:0px;}
.visible{display:block;}
.hidden{display:none;}
.popup-backdrop{position:fixed;top:0;right:0;bottom:0;left:0;z-index:1040;background-color:#000;}
.popup-backdrop.in{filter:alpha(opacity = 50);opacity:.5;}
.datepicker{z-index:9999 !important;}
textarea{resize:none;}
.margin-top-20{margin-top:20px;}
.no-js #loader{display:none;}
.js #loader{display:block;position:absolute;left:100px;top:0;}
.preloader{position:fixed;left:0px;top:0px;width:100%;height:100%;z-index:99999;background:url(../images/preloader.gif) center no-repeat #ffffff;}
.medi .top-bar{background-color:#525866;}
.medi .top-bar .left-content{float:left;}
.medi .top-bar .left-content p{font-weight:400;font-size:16px;font-family:'Raleway', sans-serif;color:#ffffff;padding:12px 0px;}
.medi .top-bar .right-content{float:right;}
.medi .top-bar .right-content ul{float:left;font-size:0;}
.medi .top-bar .right-content ul>li{list-style-type:none;display:inline-block;border-left:solid 1px #9fa3aa;}
.medi .top-bar .right-content ul>li>a{display:block;color:#ffffff;padding:13px 14px;font-size:16px;text-decoration:none;}
.medi .top-bar .right-content ul>li>a>i{font-size:20px;margin:1px 5px 0 0;vertical-align:text-bottom;}
.medi .top-bar .right-content ul>li>a:hover{color:#2b96cc;}
.medi .top-bar .right-content ul>li:first-child>a:hover{color:#ffffff;}
.medi .top-bar .right-content ul.social-icons{float:left;}
.medi .top-bar .right-content ul.social-icons>li{list-style-type:none;display:inline-block;border-left:solid 1px #9fa3aa;}
.medi .top-bar .right-content ul.social-icons>li:last-child{border-right:solid 1px #9fa3aa;}
.medi .top-bar .right-content ul.social-icons>li>a{display:block;color:#ffffff;padding:13px 10px;font-size:16px;text-decoration:none;}
.medi .top-bar .right-content ul.social-icons>li>a>i{font-size:20px;margin:1px 0px 0 0;}
.medi .top-bar .right-content ul.social-icons>li>a:hover{background-color:#5c85ce;color:#ffffff;}
.medi .top-bar .right-content ul.social-icons>li.fb>a:hover{background-color:#5c85ce;color:#ffffff;}
.medi .top-bar .right-content ul.social-icons>li.tw>a:hover{background-color:#55acee;color:#ffffff;}
.medi .top-bar .right-content ul.social-icons>li.gp>a:hover{background-color:#dc4e41;color:#ffffff;}
.medi .navbar-default{background-color:#ffffff;margin-bottom:0px;}
.medi .navbar-default .navbar-nav>li>a{font-family:'Raleway', sans-serif;font-size:16px;color:#333333;padding:12px 12px !important;border-radius:5px;}
.medi .navbar-default .navbar-right{padding:35px 0px;}
.medi .navbar-default .navbar-nav>li.active>a, .medi .navbar-default .navbar-nav>li.active>a:hover,
.medi .navbar-default .navbar-nav>li.active>a:focus{background-color:#02adc6;color:#ffffff;}
.medi .navbar-default .navbar-nav>li>a:hover, .medi .navbar-default .navbar-nav>li>a:focus{background-color:#02adc6;color:#ffffff;}
.medi .navbar-default .navbar-nav>li.dropdown>ul.dropdown-menu{padding-top:0px;padding-bottom:0px;border-radius:0px 0px 5px 5px;box-shadow:none;border:none;z-index:-1;}
.medi .navbar-default .navbar-nav>li.dropdown>ul.dropdown-menu>li>a{font-family:'Raleway', sans-serif;font-size:16px;color:#333333;padding:10px 20px;border-bottom:1px solid #f5f5f5;}
.medi .navbar-default .navbar-nav>li.dropdown>ul.dropdown-menu>li:last-child>a{border-bottom:none;}
.medi .navbar-default .navbar-nav>li.dropdown>ul.dropdown-menu>li>a:hover{background-color:#525866;color:#ffffff;}
.medi .navbar-default .navbar-nav>li.dropdown>ul.dropdown-menu>li:last-child>a:hover{border-radius:0px 0px 5px 5px;}
.medi .navbar-default .navbar-nav>li.open>a:focus{background-color:#02adc6;color:#ffffff;}
.yamm-content ul>li{list-style-type:none;margin-bottom:5px;}
.yamm-content ul>li>a{font-family:'Raleway', sans-serif;font-size:16px;color:#333333;text-decoration:none;display:block;}
.yamm-content ul>li .head{background-color:#02adc6;color:#ffffff;padding:5px 10px;}
.sticky-nav{position:fixed;width:100%;z-index:999;}
@media only screen and (min-width:767px){.sticky-nav .medi .navbar-default .navbar-brand img{width:70%;}
.sticky-nav .medi .navbar-default .navbar-brand{padding:8px 15px;}
.sticky-nav .medi .navbar-default .navbar-right{padding:15px 0px !important;transition:all .4s;}
}
.boxedcontainer{max-width:1170px;margin:auto;padding:0px 30px;}
.tp-banner-container{width:100%;position:relative;padding:0;}
.tp-banner{width:100%;position:relative;}
.tp-banner-fullscreen-container{width:100%;position:relative;padding:0;}
.tp-leftarrow.default{z-index:100;cursor:pointer;position:relative;background:url(../images/slider/left-arrow.jpg) no-Repeat 0 0
!important;width:67px !important;height:68px !important;left:0px !important;opacity:0.8;}
.tp-rightarrow.default{z-index:100;cursor:pointer;position:relative;background:url(../images/slider/right-arrow.jpg) no-Repeat 0 0
!important;width:67px !important;height:68px !important;right:0px !important;opacity:0.8;}
.tp-leftarrow.default:hover, .tp-rightarrow.default:hover{opacity:1;}
.info-block{background-color:rgba(255, 255, 255, 0.8);padding:30px;max-width:800px;border-bottom:8px solid #02adc6;}
.info-block h3{font-family:'Raleway', sans-serif;font-size:32px;font-weight:800;color:#02adc6;text-transform:uppercase;margin-bottom:20px;padding-top:20px;}
.info-block p{white-space:nowrap;line-height:24px;letter-spacing:0px;font-size:18px;visibility:visible;font-weight:500;}
.service-section{padding:90px 0 35px 0;}
.service-section .service-block{margin:0 0 55px 0;float:left;min-height:130px;}
.service-section .service-block .icon{width:96px;height:96px;float:left;border-radius:7px;text-align:center;background-color:#02adc6;}
.service-section .service-block .icon i{color:#ffffff;font-size:48px;text-shadow:0 5px 0 rgba(0, 0, 0, 0.15);margin:22px 0 0 0;display:block;}
.service-section .service-block .detail{float:right;width:78%;margin:-5px 0 0 0;}
.service-section .service-block .detail h3{font-weight:700;font-size:24px;font-family:'Raleway', sans-serif;text-transform:capitalize;}
.service-section .service-block .detail p{font-size:18px;}
.rm-link, .rm-link:hover, .rm-link:focus{color:#02adc6;text-decoration:underline;}
.welcome-section{background-color:#f5f5f5;padding:60px 0px;}
.welcome-section .title{margin-bottom:50px;}
.welcome-section .title h1{font-weight:700;font-size:42px;font-family:'Raleway', sans-serif;color:#222222;}
.welcome-section .title h1 span{font-weight:100;}
.welcome-section .tabbed-accordion .tabs ul{border-bottom:solid 1px #bcbcbc;}
.welcome-section .tabbed-accordion .tabs ul>li{list-style-type:none;display:inline-block;margin-right:90px;}
.welcome-section .tabbed-accordion .tabs ul>li>a{display:block;padding:15px 0px;color:#222222;font-size:20px;font-family:'Raleway', sans-serif;font-weight:500;text-decoration:none;}
.welcome-section .tabbed-accordion .tabs ul>li.active>a{border-bottom:solid 5px #02adc6;color:#02adc6;transition:none;}
.welcome-section .tabbed-accordion .contentarea{margin-top:50px;transition:all 600ms ease-in-out 0s;}
.welcome-section .tabbed-accordion .contentarea .detail h3{font-weight:600;font-size:28px;font-family:'Raleway', sans-serif;}
.welcome-section .tabbed-accordion .contentarea .detail p{margin-top:25px;}
.btn-rm{margin:35px 0 0 0;background-color:#525866;padding:12px 30px;display:inline-block;text-transform:uppercase;color:#fff;font-size:15px;border-radius:5px;}
.btn-rm:hover, .btn-rm:focus{background-color:#02adc6;color:#ffffff;}
.quote-section{background:url(../images/background/dr-testimonial-bg.jpg) no-repeat
fixed;height:600px;width:100%;text-align:center;background-size:100%;}
.quote-section h4{font-size:48px;font-family:'Raleway', sans-serif;font-weight:800;color:#fff;display:inline-block;margin:20% 0 0 0;}
.quote-section p{color:#fff;font-size:18px;font-style:italic;margin:13px 0 0 0;display:inline-block;}
.travel-accomodation-section{padding:60px 0px;}
.travel-accomodation-section .title{margin-bottom:50px;}
.travel-accomodation-section .title h2{font-weight:700;font-size:42px;font-family:'Raleway', sans-serif;color:#222222;}
.travel-accomodation-section .title h2 span{font-weight:100;}
.travel-accomodation-section .item .img-container img{width:100%;}
.travel-accomodation-section .item .detail{margin:35px 0 0 0;}
.travel-accomodation-section .item .detail h5{font-weight:600;font-size:22px;font-family:'Raleway', sans-serif;color:#02adc6;}
.travel-accomodation-section .item .detail p{margin:15px 0 0 0;text-align:justify;}
.travel-accomodation-section .item .detail a{font-style:italic;font-weight:600;margin:13px 0 0 0;display:inline-block;color:#525866;font-family:'Raleway', sans-serif;text-decoration:none;}
.travel-accomodation-section .item .detail a:hover{color:#02adc6;}
#travel_accomodation_slider .item{margin:0 15px 0 0;padding:0 15px 0 0;}
#travel_accomodation_slider .item img{display:block;width:100%;height:auto;}
.travel-accomodation-section .owl-theme .owl-controls .owl-buttons .owl-prev{left:-5%;background-position:2px 0 !important;top:46%;color:rgba(142, 18, 18, 0);}
.travel-accomodation-section .owl-theme .owl-controls .owl-buttons .owl-next{right:-2%;background-position:-15px 0 !important;top:46%;color:rgba(142, 18, 18, 0);}
.travel-accomodation-section .owl-theme .owl-controls .owl-buttons div{color:#FFF;display:inline-block;zoom:1;display:inline;margin:5px;font-size:12px;-webkit-border-radius:30px;-moz-border-radius:30px;border-radius:30px;background:url(../images/travel-accomodation/arrow-cro.png) no-repeat
!important;height:25px;width:15px;filter:Alpha(Opacity = 50);opacity:0.5;position:absolute;}
.travel-accomodation-section .owl-pagination{display:none;}
.testimonial-section{background:url(../images/background/testimonial-bg.jpg) no-repeat fixed;width:100%;text-align:center;background-size:100%;padding:60px 0px;}
.testimonial-section .title{margin-bottom:50px;}
.testimonial-section .title h2{font-weight:700;font-size:42px;font-family:'Raleway', sans-serif;color:#ffffff;}
.testimonial-section .title h2 span{font-weight:100;}
#testimonial_slider .item{margin-top:60px;}
#testimonial_slider .item p{font-family:'Raleway', sans-serif;line-height:32px;font-weight:400;font-style:italic;width:92%;color:#ffffff;display:inline-block;}
#testimonial_slider .item .patient-name{margin-top:20px;}
#testimonial_slider .item .patient-name span.name{font-size:22px;font-family:'Raleway', sans-serif;font-weight:600;display:block;color:#02adc6;}
#testimonial_slider .item .patient-name span.patient{font-size:16px;color:#ffffff;}
.testimonial-section .owl-theme .owl-controls .owl-page span{width:50px;border-radius:0px;height:5px;}
.testimonial-section .owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{background:#02adc6;width:50px;border-radius:0px;height:5px;}
.testimonial-section .owl-theme .owl-controls{margin-top:45px;}
.footer-top{background:#434a5a;border-top:6px solid #373e4c;}
.footer-top .emergency{text-align:center;margin:70px 0 0 0;}
.footer-top .emergency i{color:#fff;display:block;font-size:65px;}
.footer-top .emergency .text{margin:25px 0 0 0;font-size:18px;font-family:'Raleway', sans-serif;font-weight:800;color:#fff;display:block;text-transform:uppercase;}
.footer-top .emergency .number{margin:6px 0 0 0;display:block;color:#fff;font-size:50px;font-weight:800;}
.footer-top .emergency img{margin:10px auto;width:960px;}
.footer-top .footer-content{padding:50px 0px 0px 0px;}
.footer-top .footer-content .title{border-bottom:1px solid #999;padding:0 0 0 0;float:left;width:100%;}
.footer-top .footer-content .title h4{color:#fff;text-transform:uppercase;border-bottom:solid 1px #fff;padding:0 0 12px 0;display:inline-block;margin:0px 0 -1px 0;float:left;font-weight:700;font-size:24px;font-family:'Raleway', sans-serif;}
.footer-top .footer-content .detail{margin:38px 0 0 0;float:left;}
.footer-top .footer-content .detail ul>li{background:url(../images/links-arrow-light.png) no-repeat 0 9px;margin:0 0 16px 0;list-style-type:none;}
.footer-top .footer-content .detail ul>li>a{color:#fff;margin:0 0 0 20px;font-size:18px;text-decoration:none;}
.footer-top .footer-content .detail ul>li>a:hover{color:#02adc6;}
.footer-top .footer-content .detail .tweets{width:100%;float:left;margin:0 0 28px 0;}
.footer-top .footer-content .detail .tweets .icon{float:left;color:#ddd;font-size:150%;}
.footer-top .footer-content .detail .tweets .icon i{font-size:35px;margin:0 0 0 0;}
.footer-top .footer-content .detail .tweets .text{float:right;width:84%;}
.footer-top .footer-content .detail .tweets .text p{color:#fff;font-size:17px;}
.footer-top .footer-content .detail .tweets .text p a{color:#fff;font-weight:700;text-decoration:none;}
.footer-top .footer-content .detail .tweets .text p a:hover{color:#02adc6;}
.footer-top .footer-content .detail .tweets .text span{font-size:14px;color:#c7c9ce;margin:5px 0 0 0;display:inline-block;}
.footer-top .footer-content .detail .get-touch span.text{color:#fff;}
.footer-top .footer-content .detail .get-touch ul{margin:20px 0 0 0;}
.footer-top .footer-content .detail .get-touch ul>li{margin:0 0 20px 0;list-style-type:none;background:none;}
.footer-top .footer-content .detail .get-touch ul>li>i{color:#fff;float:left;font-size:26px;margin:0 9px 0 0;}
.footer-top .footer-content .detail .get-touch ul>li>span{color:#fff;font-size:18px;}
.footer-top .footer-content .detail .get-touch ul>li>a{color:#fff;font-size:17px;display:block;margin:0px;}
.footer-top .footer-content .detail .get-touch ul>li>a>i{color:#fff;float:left;font-size:26px;margin:0 9px 0 0;}
.footer-top .footer-content .detail .get-touch ul>li>a:hover{color:#02adc6;}
.footer-bottom{background:#373e4c;padding:24px 0;}
.footer-bottom .copyrighttxt{float:right}
.footer-bottom .copyrighttxt p{color:#ffffff;margin:3px 0 0 0;font-size:15px;font-weight:400;}
.footer-bottom ul.social-icons-text{float:left;white-space:nowrap;color:white;}
.footer-bottom ul.social-icons>li, .footer-bottom ul.social-icons-text>li{list-style-type:none;display:inline-block;width:35px;height:35px;line-height:35px;border-radius:35px;text-align:center;}
.footer-bottom ul.social-icons>li>a{display:block;text-align:center;border:1px solid #ffffff;border-radius:35px;color:#ffffff;text-decoration:none;}
.footer-bottom ul.social-icons>li.fb>a:hover, .footer-bottom ul.social-icons-text>li.fb>a:hover{background-color:#5c85ce;color:#ffffff;border-color:#5c85ce;}
.footer-bottom ul.social-icons>li.tw>a:hover, .footer-bottom ul.social-icons-text>li.tw>a:hover{background-color:#55acee;color:#ffffff;border-color:#55acee;}
.footer-bottom ul.social-icons>li.gp>a:hover, .footer-bottom ul.social-icons-text>li.gp>a:hover{background-color:#dc4e41;color:#ffffff;border-color:#dc4e41;}
.side-form{background-color:#ffffff;position:fixed;top:0px;z-index:9999;height:100%;}
.side-form .widget-area{position:relative;}
.side-form .widget-area .buttonarea{position:absolute;right:-70px;top:300px;-webkit-transform:rotate(270deg);-moz-transform:rotate(270deg);-ms-transform:rotate(270deg);-o-transform:rotate(270deg);transform:rotate(270deg);}
.side-form .widget-area .buttonarea .btn-enquire{background-color:#FFB900;color:black;border-radius:0px;font-family:'Raleway', sans-serif;padding:6px 10px;font-weight:bold;}
.side-form .widget-area .enquire-form{display:none;padding:20px;width:300px;position:relative;padding-top:20px;overflow:auto;}
.side-form .widget-area .enquire-form .close-btn{background-color:#b6f6ff;color:#333333;border-radius:0px;font-size:18px;position:absolute;top:0;right:0;}
.side-form .widget-area .enquire-form .close-btn:focus{outline:none;}
.side-form .widget-area .enquire-form h4{font-family:'Raleway', sans-serif;text-transform:uppercase;margin-bottom:20px;font-weight:800;color:#02adc6;}
.side-form .widget-area .enquire-form .btn-submit{background-color:#525866;color:#ffffff;padding:7px 30px;display:inline-block;text-transform:uppercase;font-size:15px;border-radius:5px;-webkit-transition:all .4s;-moz-transition:all .4s;-o-transition:all .4s;transition:all .4s;}
.side-form .widget-area .enquire-form .btn-submit:hover{background-color:#02adc6;}
.side-form .widget-area .enquire-form .captcha-num span{margin:0px 5px;font-size:16px;}
.side-form .widget-area .enquire-form .captcha_label{display:block;}
.side-form .widget-area .enquire-form .reset{cursor:pointer;}
#google_translate_element{padding-top:10px !important;}
.short-details{background-color:#ffffff;box-shadow:0px 0px 8px rgba(0, 0, 0, 0.32);padding:24px 0 28px 0;margin-bottom:20px;}
.short-details .title h1{font-weight:700;font-size:42px;font-family:'Raleway', sans-serif;color:#02adc6;}
.short-details .site-link{font-family:'Source Sans Pro', sans-serif;font-weight:300;font-size:20px;line-height:27px;float:right;padding-top:25px;}
.short-details .site-link a{color:#02adc6;text-decoration:none;}
.detail-container{border-top:1px solid #dddddd;border-bottom:1px solid #dddddd;padding:5px 0px;margin:30px 0 50px 0;}
.detail-container .hospital-details{border-top:1px solid #dddddd;border-bottom:1px solid #dddddd;padding:15px;}
.detail-container .hospital-details ul>li{list-style-type:none;padding:5px;}
.detail-container .hospital-details ul>li:nth-child(even){background-color:#f5f5f5;width: 100%}
.detail-container .hospital-details ul>li:nth-child(odd){background-color:#ffffff;width: 100%}
.detail-container .hospital-details ul>li strong{display:inline-block;}
.detail-container .hospital-details .address-box ul>li strong{width:25%;}
.detail-container .hospital-details .number-box ul>li strong{width:46%;}
.detail-container .hospital-details .certificate-box ul{margin-top:10px;}
.detail-container .hospital-details .certificate-box h4{font-family:'Raleway', sans-serif;font-size:16px;text-transform:uppercase;font-weight:700;}
.detail-container .hospital-details .col-divider{border-right:1px solid #dddddd;}
.detail-container .hospital-details .box-height{min-height:150px;}
.about-section{background-color:#f5f5f5;padding:50px 0px;}
.about-section .title h2{font-weight:700;font-size:42px;font-family:'Raleway', sans-serif;color:#222222;}
.about-section .title h2 span{font-weight:100;}
.about-section .description{margin-top:30px;}
.about-section .description p, .about-section .description ul li{text-align:justify;padding-bottom:15px;}
.about-section .description ul li{margin-bottom:0px;font-family:'Source Sans Pro', sans-serif;font-weight:300;font-size:20px;line-height:27px;}
.about-section .description h5{font-weight:600;font-size:20px;}
.about-section .description h5 span{color:#02adc}
.short-details .title ul.paginator{margin-top:10px;}
.short-details .title ul.paginator>li{list-style-type:none;display:inline-block;background:url(../images/paging-arrow.png) no-repeat right 9px;padding:0 20px 0 0;margin:0 12px 0 0;}
.short-details .title ul.paginator>li:last-child{background:none;}
.short-details .title ul.paginator>li>a{text-decoration:none;color:#333333;font-size:16px;}
.short-details .title ul.paginator>li:last-child>a{color:#02adc6;}
.short-details .title ul.paginator>li>a:hover{color:#02adc6;}
.content-area{margin:50px 0px;}
.content-area .accordion-container .title-margin{margin-top:50px;}
.content-area .accordion-container h3{font-weight:700;font-size:35px;font-family:'Raleway', sans-serif;color:#222222;text-transform:capitalize;margin-bottom:20px;}
.content-area .accordion-container h3 span{font-weight:300;}
.content-area .accordion-container .mg-accordion .panel+.panel{margin-top:0px;border-top:0px;}
.content-area .accordion-container .mg-accordion .panel-default{border-radius:0px;box-shadow:none;}
.content-area .accordion-container .mg-accordion .panel-default .panel-heading{background-color:#ffffff;padding:0px;}
.content-area .accordion-container .mg-accordion .panel-default .panel-heading .panel-title{font-size:18px;}
.content-area .accordion-container .mg-accordion .panel-default .panel-active .panel-title{color:#02adc6;}
.content-area .accordion-container .mg-accordion .panel-default .panel-heading .panel-title a{text-decoration:none;display:block;padding:15px;position:relative;}
.content-area .accordion-container .mg-accordion .panel-default .panel-heading .panel-title a i{position:absolute;right:15px;}
.content-area .accordion-container .mg-accordion .panel-default .panel-body p{font-size:17px;text-align:justify;}
.content-area .accordion-container .mg-accordion .panel-default .panel-body ul{padding-left:30px;}
.content-area .accordion-container .mg-accordion .panel-default .panel-body ul>li{color:#02adc6;font-family:'Source Sans Pro', sans-serif;font-weight:300;font-size:17px;line-height:27px;margin-bottom:10px;}
.content-area .accordion-container .mg-accordion .panel-default .panel-body ul>li span{color:#333333;}
.cost-compare-section{margin:30px 0;}
.cost-compare-section table{border-color:#34495e;border-bottom:10px solid #34495e !important;}
.cost-compare-section table>thead>tr>th{border-bottom:none;border-top:none;font-size:20px;font-family:'Raleway', sans-serif;font-weight:300;background-color:#34495e;color:#ffffff;text-align:center;border:1px solid #34495e;}
.cost-compare-section table>tbody>tr>td{font-size:18px;text-align:center;border:1px solid #34495e;}
.cost-compare-section table>tbody>tr>td:first-child{text-align:left;}
.cost-compare-section table>tbody>tr>td:nth-child(4){color:#02adc6;}
.cost-compare-section table>thead>tr>th:nth-child(4){background-color:#34495e;}
.description{padding:30px 0px;}
.description p{text-align:justify;}
.terms-text p{font-size:18px;padding-top:10px;}
.cost-compare-section2{margin:30px 0;}
.cost-compare-section2 table{border-color:#02adc6;border-bottom:10px solid #02adc6 !important;}
.cost-compare-section2 table>thead>tr>th{border-bottom:none;border-top:none;font-size:20px;font-family:'Raleway', sans-serif;font-weight:300;background-color:#02adc6;color:#ffffff;text-align:center;border:1px solid #02adc6;}
.cost-compare-section2 table>tbody>tr>td{font-size:18px;text-align:center;border:1px solid #02adc6;}
.cost-compare-section2 table>tbody>tr>td:first-child{text-align:left;}
.cost-compare-section2 table>tbody>tr>td:nth-child(4){color:#02adc6;}
.cost-compare-section2 table>thead>tr>th:nth-child(4){background-color:#02adc6;}
.query-popup .modal-dialog{margin:150px auto;}
.query-popup .modal-header .modal-title{color:#3c763d;}
.listing-section{margin:80px 0 50px 0;}
.listing-section a{text-decoration:none;}
.listing-section .list-box{background-color:#ffffff;padding:10px;box-shadow:0px 0px 8px rgba(0, 0, 0, 0.32);border-radius:4px;margin-bottom:50px;}
.listing-section .list-box h2{font-family:'Raleway', sans-serif;font-weight:700;margin-bottom:10px;color:#02adc6;padding-left:15px;}
.listing-section .list-box .detail-area h2 span{font-weight:300;}
.listing-section .list-box .hospital-img-container{width:205px;height:205px;}
.listing-section .list-box .hospital-img-container{max-height:100%;}
.listing-section .list-box .detail-area p{font-size:14px;line-height:20px;text-align:justify;}
.listing-section .list-box .detail-area ul.address{margin-bottom:10px;}
.listing-section .list-box .detail-area ul.address>li{list-style-type:none;position:relative;padding-left:20px;}
.listing-section .list-box .detail-area ul.address>li:before{position:absolute;left:0;}
.listing-section .list-box .detail-area ul.address>li.link:before{font-family:'medical-guide-icons';content:"\e646";}
.listing-section .list-box .detail-area ul.address>li.location:before{font-family:'medical-guide-icons';content:"\e629";}
.listing-section .list-box .detail-area ul.address>li>a{color:#02adc6;text-decoration:none;}
.listing-section .list-box .detail-area h5{margin:10px 0 10px 0;font-size:15px;font-weight:700;}
.listing-section .list-box .detail-area ul.tags>li{list-style-type:none;display:inline-block;}
.listing-section .list-box .detail-area ul.tags>li>a{display:block;padding:2px 7px;border:1px solid #02adc6;color:#02adc6;margin:0 2px 5px 0;text-decoration:none;}
.listing-section .list-box .detail-area ul.tags>li>a:hover{background-color:#02adc6;color:#ffffff;}
.list-paging{float:right;}
.list-paging>li>a{background-color:transparent;color:#333333;border:none;margin:0 5px;}
.list-paging>li>a{border-radius:4px;}
.list-paging>li.active>a{background-color:#02adc6;color:#ffffff;}
.speciality-content-area{margin:30px 0 50px 0;}
.speciality-content-area .innertab-accordion .tabs{position:relative;z-index:99;}
.speciality-content-area .innertab-accordion .tabs ul>li{list-style-type:none;display:block;}
.speciality-content-area .innertab-accordion .tabs ul>li>a{display:block;padding:15px 15px;border:1px solid #d2d2d2;border-bottom:none;border-right:none;font-family:'Raleway', sans-serif;color:#444444;text-decoration:none;font-size:18px;}
.speciality-content-area .innertab-accordion .tabs ul>li:last-child>a{border-bottom:1px solid #d2d2d2;}
.speciality-content-area .innertab-accordion .tabs ul>li.tab-active>a{color:#02adc6;border-right:1px solid #ffffff;}
.speciality-content-area .innertab-accordion .accordion-contentarea{border:1px solid #d2d2d2;padding:15px 20px;margin-left:-1px;}
.main-contentarea{padding:15px 20px;margin-left:-1px;}
.speciality-content-area .innertab-accordion .accordion-contentarea h2,
.main-contentarea h2{margin-bottom:15px;font-family:'Raleway', sans-serif;font-weight:700;}
.speciality-content-area .innertab-accordion .accordion-contentarea h2 span,
.main-contentarea h2 span{font-weight:300;}
.speciality-content-area .innertab-accordion .accordion-contentarea p,
.main-contentarea p{font-size:18px;text-align:justify;}
.speciality-content-area .innertab-accordion .accordion-contentarea h3,
.main-contentarea h3{margin-bottom:15px;font-family:'Raleway', sans-serif;font-weight:700;font-size:25px;margin-top:20px;}
.speciality-content-area .innertab-accordion .accordion-contentarea h3 span,
.main-contentarea h3 span{font-weight:300;}
.speciality-content-area .innertab-accordion .accordion-contentarea h4,
.main-contentarea h4{font-family:'Raleway', sans-serif;font-weight:700;font-size:18px;margin-top:20px;}
.speciality-content-area .innertab-accordion .accordion-contentarea h5,
.main-contentarea h5{font-family:'Raleway', sans-serif;font-weight:700;font-size:16px;margin-top:20px;}
.speciality-content-area .innertab-accordion .accordion-contentarea h5 a,
.main-contentarea h5 a{color:#02adc6;}
.speciality-content-area .innertab-accordion .accordion-contentarea ul{padding-left:30px;}
.speciality-content-area .innertab-accordion .accordion-contentarea ul>li{color:#02adc6;font-family:'Raleway', sans-serif;font-weight:300;line-height:27px;font-size:16px;}
.main-contentarea ul{font-family:'Raleway', sans-serif;font-weight:300;line-height:27px;padding-left:30px;}
.speciality-content-area .innertab-accordion .accordion-contentarea ul>li>span,
.main-contentarea ul>li>span{color:#444444;}
.speciality-content-area .innertab-accordion .accordion-contentarea .row{margin-left:0px;margin-right:0px;}
.nopaddleft{padding-left:0px !important;}
.nopaddright{padding-right:0px !important;}
.tabnopaddleft{padding-left:0px !important;}
.tabnopaddright{padding-right:0px !important;}
.col-xs-15, .col-sm-15, .col-md-15, .col-lg-15{position:relative;min-height:1px;padding-right:10px;padding-left:10px;}
.col-xs-15{width:20%;float:left;}
.hospital-img-container .img-responsive{height:205px;}
section.thankyou .txt-img{margin:0px auto;margin-top:78px;}
section.thankyou .txt-img h1{font-size:70px;text-transform:uppercase;font-family:'Raleway', sans-serif;font-weight:800;text-align:center;}
section.thankyou .txt-img img{max-width:200px;display:block;margin:0px auto;margin-top:20px;}
section.thankyou .foot{border-top:6px solid #373e4c;padding:40px 0;}
section.thankyou .foot p{text-align:center;}
section.thankyou .foot h3{text-align:center;margin-top:20px;}
section.thankyou .foot h3 a{color:#02adc6;}
section.thankyou .txt-img .btn-click, section.thankyou .txt-img .btn-click:hover,
section.thankyou .txt-img .btn-click:focus{background-color:#02adc6;color:#ffffff;text-align:center;text-transform:uppercase;margin-top:70px;padding:10px 40px;font-size:18px;}
@font-face{}
.marg{margin:0px;}
.margtop{margin-top:10px;}
.margtopp{margin-top:20px;}
.bg-blue{background-color:#349dba;padding:10px;color:white;}
.btn-blue{background-color:#349dba;padding:10px;border:0px;border-radius:0px;color:white;}
section.sec-main{background-color:#ececec;padding-top:30px;padding-bottom:30px;}
.top-heading-s{margin-bottom:25px;color:#1d1d1d;}
.top-heading-s h4{color:#1d1d1d;font-size:16pt;}
.sig-label{margin-top:10px;margin-bottom:10px;}
.sig-label label{font-size:16pt;color:#555454;font-weight:100;}
.sig-input{margin-top:10px;margin-bottom:10px;}
.sig-input input{border-radius:0px;border:0px;}
.sig-input select{border:0px;border-radius:0px;height:35px;}
.sig-btn{margin-top:10px;margin-bottom:10px;}
.sig-btn button{border:0px;border-radius:0px;}
.sig-btn button:hover{background-color:white;transition:0.5s;color:#349dba;font-weight:bold;}
.sig-input span{display:block;width:100%;text-align:center;}
.sig-input input[type='radio']{-webkit-appearance:none;width:17px;height:18px;border:1px solid #349dba;border-radius:50%;text-align:start;outline:none;box-shadow:0 0 0 0 !important;}
.sig-input input[type='radio']:focus{box-shadow:0 0 0 0 !important;}
.sig-input input[type='radio']:before{content:'';display:block;width:60%;height:60%;box-shadow:0 0 0 0 !important;margin:20% auto;border-radius:50%;}
.sig-input input[type='radio']:checked:before{background:#349dba;box-shadow:0 0 0 0 !important;}
.sig-input label span{margin-left:7px;margin-right:10px;font-size:11pt;margin-top:3px;}
.sig-check input[type='checkbox']{width:17px;height:18px;background:#349dba !important;color:white;border:0px;outline:none;box-shadow:0 0 0 0 !important;}
.sig-right-img{text-align:center;font-size:13pt;margin-bottom:60px;}
.sig-right-con{margin-top:12px;}
.sig-right-con p{width:218px;margin:auto;font-weight:bold;}
@media(min-width:320px) and (max-width:767px){.sig-label label{font-size:13pt;color:#555454;font-weight:100;}
}
.mo-co-con{border-radius:0px;text-align:center;}
.mo-co-head{border-bottom:0px;}
.mo-co-foot{border-top:0px;}
.contact-mo input{border-radius:0px;border:0px;margin-top:12px;background-color:rgba(204,204,204,0.4);box-shadow:0 0 0 0;}
.sig-chec input{margin-top:4px;}
.sig-chec{text-align:left;padding-top:14px;padding-left:15px;}
.si-btn button,
.si-btn button:hover{margin-top:15px;border-radius:0px;font-size:14pt;color:white;}
.sig-che{text-align:left;padding-top:14px;padding-left:61px;}
.mo-co button ,
.mo-co button:hover{border-radius:0px;border:1px solid #02adc6;color:#02adc6;padding-top:10px;padding-bottom:10px;font-size:12pt;}
.danger-main{position:fixed;width:100%;background-color:rgba(0,0,0,0.5);left:0px;top:0px;transition:1s;height:100%;padding-top:114px;}
.danger-main2{position:fixed;width:100%;background-color:rgba(0,0,0,0.5);left:0px;top:0px;transition:1s;height:100%;padding-top:114px;}
.danger p{margin-top:9%;}
.clo{cursor:pointer;}
section.sec-user{background-image:url(../images/doc.png);background-repeat:no-repeat;height:650px;position:relative;background-size:cover;background-position:center;}
.user-con-m{position:absolute;top:145px;left:200px;}
.user-s{padding:10px;background-color:rgba(255,255,255,0.7);}
.user-con-m button ,
.user-con-m button:hover{margin-top:10px;border-radius:0px;padding-left:39px;padding-right:39px;font-size:12pt;color:white;}
.pos{position:relative;}
.lin{position:absolute;height:200px;border:1px solid #02adc6;right:0px;top:12px;}
.sig-btn span{font-size:9pt;font-weight:bold;display:block;}
.u-b button{margin-top:16px;margin-bottom:10px;}
.gend{display:inline !important;margin-right:30px;}
.more span{margin-top:21px;font-size:12pt;}
.drl-bgwhite{background-color:#fff;padding:10px;}
.drl-heading h4{text-align:center;margin-bottom:50px;margin-top:35px;font-size:17pt;}
.drl-main{background-color:#ececec;box-shadow:0 0 2px 0px #e5e5e5;border-radius:5px;padding:15px;}
.drl-img img{width:100px;height:100px;object-fit:cover;border-radius:50%;}
@media(min-width:320px) and (max-width:480px){.drl-img img{width:70px;height:70px;object-fit:cover;border-radius:50%;}
}
.drl-con p{font-size:11pt;line-height:1;margin-bottom:10px;}
.sec-drl{}
.drl-btn{margin-top:30px;margin-bottom:30px;text-align:right;}
.drl-btn button{border:0px;transition:0.5s;font-size:12pt;}
@media(min-width:320px) and (max-width:767px){.drl-main{background-color:#ececec;margin-top:20px;box-shadow:0 0 2px 0px #e5e5e5;border-radius:5px;padding:15px;}
.drl-btn{margin-top:30px;margin-bottom:30px;text-align:center;}
}
.danger{width:40% !important;border-radius:5px;height:150px;margin:auto;color:#fff;box-shadow:0 0 3px 0px rgba(0,0,0,0.5);padding:10px;background-color:rgba(217,83,79,0.5);margin-bottom:20px;text-align:center;margin-top:20px;}
select#input{width:19%;position:absolute;left:0px;height:34px;}
.sig-input{position:relative;}
.mblnmbr{width:100%;padding-left:84px;}
.forget-main1{padding-top:30px !important;padding-bottom:20% !important;}
.forget-main{margin-bottom:50px;}
.forget{text-align:center;}
.text-up textarea{border:0px;border-radius:0px;}
.success p{border:1px solid rgba(68,157,68,0.5);background-color:rgba(68,157,68,0.5);padding:10px;width:42% !important;margin:auto;border-radius:5px;color:#fff;box-shadow:0 0 3px 0px rgba(0,0,0,0.5);}
.uq-pay-img a img{width:100%;transition:0.5s;border:1px solid #e6e7e8;}
.uq-pay-img a img:hover{border:1px solid #337ab7;}
.btn-next button{font-size:14pt;}
.mo-co span{font-weight:bold;margin-right:20px;}
.ser-sign-m{position:relative;}
.ser-sign-m span{position:absolute;top:0px;right:0px;height:100%;background-color:black;color:white;width:10%;text-align:center;padding-top:10px;cursor:pointer;}
.ser-sign-m input{border-radius:0px;margin-top:30px;}
.pagination ul li a:hover,
.pagination ul li a:focus,
.pagination ul li a:active{background-color:#286090;border-color:#204d74;text-decoration:none;}
.pagination ul li a{color:#fff;background-color:#337ab7;border-color:#2e6da4;padding:6px 12px;border-radius:4px;cursor:pointer;transition:0.5s;font-size:12pt;}
.pagination ul li{list-style:none;list-style-type:none;display:inline-block;padding:2px;}
.custError{padding:1%;border:2px solid transparent;border-radius:12px;color:#000;background-color:#E9EDF8;border-color:#B2B9D0;position:absolute;z-index:2;width:300px;text-align:center;height:100px;font-family:Georgia;font-size:18px;padding-top:75px;top:calc((100% - 104px)/2);left:calc((100% - 304px)/2);}
.plus-cu{margin-top:10px;text-align:center;margin-bottom:10px;background-color:#349dba;cursor:pointer;color:#FFF;padding-top:7px;padding-bottom:5px;}
.r-none{opacity:0;display:none;transition:0.5s;}
.r-show{opacity:1;display:block;transition:0.5s;}
.apu{border:0px;border-radius:0px;margin-top:10px;}
.drp-con label{font-size:18pt;font-weight:600;color:#066494;}
.drl-col{color:#005e8f;}
.drp-img{text-align:center;}
.drp-img img{width:85%;}
.drp-con p{font-weight:400;}
.sec-drp{min-height:100%;}
.drp-bot h3{font-size:16pt;font-weight:400;}
.drp-pad{padding:30px !important;}
@media(min-width:320px) and (max-width:767px){.drp-img img{width:100%;height:auto;}
.drp-con p{font-weight:400;font-size:11pt !important;}
}
.plus-cu{margin-top:10px;text-align:center;margin-bottom:10px;background-color:#349dba;cursor:pointer;color:#FFF;padding-top:7px;padding-bottom:5px;}
.r-none{opacity:0;display:none;transition:0.5s;}
.r-show{opacity:1;display:block;transition:0.5s;}
.apu{border:0px;border-radius:0px;margin-top:10px;}
.conn-bttn{background-color:transparent !important;margin-bottom:30px;margin-top:0px;padding-top:0px !important;padding:0px;}
.conn-bttn button{border-radius:0px;}
.uqt-tab-head{background-color:#349dba;color:#fff;}
.marg-uqt-span{margin-right:8px;font-size:15pt;cursor:pointer;}
.uqt-main{padding:0px;}
.posi{position:relative;}
.tex-posi{position:relative;}
.tex-posi input{}
.tab-abso{position:absolute;width:100px;z-index:99999;height:50px;background:black;}
.tab-col{width:400px;}
.tab-col h3{color:#484c5f;margin-top:15px;}
.tab-col p{color:#484c5f;font-weight:400;font-size:12pt;}
.col-lin{color:#349dba !important;font-size:12pt;}
.custom-color-tr{background-color:#ececec;}
.acc{background-color:transparent;border-radius:0px;cursor:text;border:0px;}
form input[type="file"]{display:none;}
.position-rel{position:relative;}
label.file-upload{position:absolute;}
.file-upload img{width:20px;}
label.file-upload{position:absolute;right:11px;top:10px;}
.preview-img{width:100%;}
th.w-th{width:440px;}
.consult-right-main{text-align:right;padding-top:10px;}
.consult-r-con p{font-size:12pt;}
.consult-au-wid{margin:0 25px;}
.img-consult{text-align:center;width:100%;}
section.sec-calender{background-color:#ececec;padding-top:30px;padding-bottom:30px;}
.width-80{width:80%;margin:auto;}
.img-calend-pro h3{color:#337ab7;}
.img-cal-pro{max-width: 100%}
.img-calend-pro p{font-size:11pt;}
.fri{background-color:#f2dede;}
.calend-arrow{text-align:right;padding-right:5px;}
span.today-calen ,
.calend-arrow span{background-color:#e5eaed;padding:8px;color:#70bbd0;border-radius:5px;border:1px solid #b8b8b8;margin-right:10px;}
.c-f-l{margin-right:0px !important;margin:0px !important;padding-left:12px !important;padding-right:12px !important;}
.c-f-r{background-color:#efefef !important;background:linear-gradient(#f9f9f9, #ebebeb);padding-left:12px !important;padding-right:12px !important;}
.fc .fc-toolbar > * >:first-child{color:#000;}
.fc button .fc-icon{color:#000;}
.fc th{color:#000;background-color:#FFF;padding-top:10px;padding-bottom:10px;}
.p-edit{font-size:18pt;font-weight:600;color:#066494;}
.p-texta{margin-top:15px;border-radius:0px;}
.p-texta{opacity:0;transition:0.5s;}
.dis-sho{opacity:0;transition:0.5s;}
.alignn-center{margin-top:10px;}
.error-modal .modal-content{background-color:rgba(217,83,79,0.5);color:#fff;}
.left{text-align:left;}
.dacti-allu{display:block;text-align:center;border:1px solid #ab544f;border-radius:4px;padding:5px;background-color:#efdfdf;}
span.acti-allu{display:block;text-align:center;border:1px solid #598247;border-radius:4px;padding:5px;background-color:#e3eed8;}
.alu-input input{border-radius:0px;}
.alu-input select{border-radius:0px;}
.qu-cur{cursor:pointer;}
th.qu-wid{width:390px;}
th.wd-pn{width:250px;}
.sec-drl .dr-avail .schedule{margin-bottom:10px;}
.sec-drl .dr-avail .schedule .date-picker{display:inline-block;margin-right:10px;}
.sec-drl .dr-avail .schedule .date-picker .date{padding-left:10px;}
.sec-drl .dr-avail .schedule .form-control{width:20%;display:inline-block;margin-right:20px;border-radius:0px;}
.sec-drl .dr-avail .schedule .date-picker{position:relative;}
.sec-drl .dr-avail .schedule .date-picker .calender-icon{position:absolute;right:10px;z-index:9;top:8px;font-size:17px;}
.sec-drl .dr-avail .table{background:#e4f4f8 !important;border:1px solid #d3d3d3;}
.sec-drl .dr-avail .table .session{width:45%;}
.sec-drl .dr-avail .table .session-div input{background:#fff;min-width:90px;max-width:400px;height:34px;overflow:auto;}
.sec-drl .dr-avail .table .timepicker .basicExample{position:relative;}
.sec-drl .dr-avail .table .timepicker .clock-icon{position:absolute;right:10px;z-index:9;top:8px;}
.sec-drl .dr-avail .table .session-div .div-button,
.label-info{background:#349dba;width:70px;margin:5px 2px;padding-left:5px;border-radius:5px;color:#fff;display:inline-block;}
.sec-drl .dr-avail .table .session-div .div-button a{text-decoration:none;color:#fff;}
.sec-drl .dr-avail .table .session-div .div-button a i{padding:0px 5px;}
.sec-drl .dr-avail-tab .tab-head{background:#349dba;color:#fff;}
.sec-drl .dr-avail .dr-avail-tab .plus-icon{text-align:center;padding-top:17px;}
.sec-drl .dr-avail .form-group{display:inline-block;margin-bottom:0px !important;}
.sec-drl .dr-avail .dr-avail-tab .input-group{width:47%;display:inline-flex;margin-right:6px;}
#timepicker{border-radius:5px;}
.bootstrap-tagsinput .tag{font-size:13px;font-weight:normal;}
.dashboard-bg{background:#fff;padding-top:20px;}
.dashboard-bg .dash-hding p{font-weight:500;}
.dashboard-bg .active-user p{float:right;color:#349dba;font-weight:500;}
.dashboard-bg .dr-info{background:#ececec;margin:10px 0px;padding:20px 0px;border-radius:5px;}
.dashboard-bg .dr-info .dr-info-dtl{padding:5px 0px;}
.dashboard-bg .dr-info .dr-info-dtl p{font-size:17px;line-height:1.2;font-weight:400;}
.dashboard-bg .dr-info .dr-info-dtl p:first-child{font-size:20px;}
.dashboard-bg .dr-info .view-btn{top:30px;}
.dashboard-bg .dr-info .view-btn .btn-lg{float:right;background:#349dba;color:#fff;font-size:16px;border:#349dba;}
.sec-drl .doc-aprv{margin:15px 0px;}
.sec-drl .doc-profile{background:#fff;}
.sec-drl .doc-profile{padding-left:0px;}
.sec-drl .doc-profile .dr-avail{padding:10px 0px 10px 0;}
.sec-drl .doc-profile .dr-avail .table tr:nth-child(odd){background:#fff !important;}
.sec-drl .doc-profile .dr-avail .table{border:none;}
.sec-drl .doc-profile .dr-avail .table>tbody>tr>td{border:none !important;padding-left:10px;}
.sec-drl .doc-profile .dr-avail .table td:nth-child(even){float:right;}
.sec-drl .doc-profile .btn{background:#349dba;color:#fff;font-size:16px;border:#349dba;padding:10px 37px;margin-right:20px;margin-bottom:10px;}
.no-padding-right{padding-right:0px;}
.sec-drl .doc-profile .profile-img{margin-top:10px;}
.patient-modal{border-radius:0px !important;}
.patient-modal .modal-header{background-color:#349DBA;}
.patient-modal .modal-header h4{color:#fff;}
.patient-modal-form{padding:5px 30px 20px 30px;}
.patient-modal-input{border-radius:0px;background-color:#ECECEC;height:40px;color:#1d1d1d;width:100%;}
.nopadding-right{padding-right:0px;padding-left:0px;margin-bottom:15px;}
.nopadding-left{padding-left:0px;margin-bottom:15px;}
.btn-file{position:relative;overflow:hidden;background-color: #1D1D1D !important;border-color: #1D1D1D !important;color:#fff !important;margin-bottom:30px;width:180px !important;}
.btn-file:hover{background-color:#1D1D1D;border-color:#1D1D1D;color:#fff !important;width:180px !important;}
.btn-file input[type=file]{position:absolute;top:0;right:0;min-width:100%;min-height:100%;font-size:100px;text-align:right;filter:alpha(opacity=0);opacity:0;outline:none;background:white;cursor:inherit;display:block;}
.btn-footer{margin-bottom:50px;}
.btn-book{background-color: #349DBA !important;border-color: #349DBA !important;color:#fff !important;width:180px !important;}
.btn-book:hover{background-color:#349DBA;border-color:#349DBA;color:#fff !important;margin-bottom:30px;width:180px !important;}
@media (min-width:768px) and (max-width:991px){.sec-drl .dr-avail .dr-avail-tab .input-group{width:45%;}
.user-con-m{top:50px;left:50px;}
}
@media (min-width:320px) and (max-width:480px){.user-con-m{top:50px;left:0px;}
}
@media (min-width:320px) and (max-width:480px){.dashboard-bg .dr-info .dr-info-dtl p:first-child{font-size:14px;}
.dashboard-bg .dr-info .dr-info-dtl p{font-size:13px;}
.dashboard-bg .dr-info .view-btn{top:0px;}
}
@media (min-width:320px) and (max-width:480px){.sec-drl .doc-profile .btn{padding:10px 18px;margin-right:0px;}
.info-block h3{font-size:18px;}
.quote-section h4{font-size:35px}
}
@media (min-width:320px) and (max-width:767px){.service-section .service-block .icon{;float:none;margin-bottom:20px !important;margin:0 auto;}
.service-section .service-block .detail{float:none;width:100%;margin:-5px 0 0 0;margin:auto;}
.welcome-section .tabbed-accordion .tabs ul>li.active>a{border-bottom:solid 5px #02adc6;color:#fff;transition:none;}
.welcome-section .tabbed-accordion .tabs ul>li{list-style-type:none;display:inline-block;margin-right:5px;}
.img-container img{width:100%;}
.welcome-section .tabbed-accordion .tabs ul>li>a{display:block;padding:15px 0px;color:#222222;font-size:12pt;font-family:'Raleway', sans-serif;font-weight:500;text-decoration:none;}
.welcome-section .tabbed-accordion .tabs ul>li>a{display:block;padding:15px 0px;color:#222222;font-size:11pt;font-family:'Raleway', sans-serif;font-weight:500;text-decoration:none;}
.quote-section h4{font-size:48px;font-family:'Raleway', sans-serif;font-weight:800;color:#fff;display:inline-block;margin:51% 0 0 0;}
.service-section .service-block .icon i{color:#ffffff;font-size:48px;text-shadow:0 5px 0 rgba(0, 0, 0, 0.15);margin:22px 0 0 0;display:block;}