@font-face {
	font-family: 'Poppins-Regular';
	src: url('../fonts/Poppins-Regular.ttf');
}

@font-face {
	font-family: Aller-Bold;
	src: url('../fonts/Aller_Bd.OTF');
}

body {
	font-family: 'Poppins-Regular';
}

h1, h2, h4, h5, h6 {
	margin: 0;
}

h6, h3 {
	color: #17B3CA;
}

h1 {
	font-size: 36px;
	color: #1D1D1D;
}

.no-padding {
	padding-left: 0px;
	padding-right: 0px;
}

.padding-right {
	padding-right: 0px;
}

.margin-top-btm {
	margin: 25px 0px;
}

a:hover, a, a:focus {
	text-decoration: none !important;
	outline: 0px;
}

ul {
	padding: 0;
}

ul li {
	display: inline-block;
	text-decoration: none;
}

.menu-bar-sec {
	background-color:rgba(55, 62, 76, 0.6);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-top: 20px;
}

.menu-bar-pic{
	background: url('../images/banner.png') no-repeat center center;	
	height: 500px;
	background-size: cover !important;
}

.contact-bar {
	float: right;
}

.contact-bar ul {
	float: right;
}

.contact-bar ul li {
	margin-right: 10px;
}

.contact-bar ul li a {
	color: #fff;
}

.contact-bar ul li a i {
	margin-right: 6px;
}

.contact-bar ul li .loginbtn {
	padding: 5px 15px;
	margin-left: 10px;
	border-radius: 5px;
}

.contact-bar ul li .loginbtn:hover {
	background: #02ADC6;
	color:#fff;
}

.menu-bar {
	float: right;
}

.navbar {
	background: none;
	border: none;
	margin-bottom: 0;
}

.navbar-default .navbar-nav>li>a {
	color: #fff;
}

.navbar-default .navbar-nav>li>a
{
    color: #fff;
}

.nav>li>a {
	padding: 10px 13px;
}
/* Drop down menu */
.navbar-default .navbar-nav>li>a:hover {
	background: #fff;
	color: #333;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus,
	.navbar-default .navbar-nav>.open>a:hover {
	color: #000;
	background: #fff;
}

.dropdown-large {
	position: static !important;
}

.dropdown-menu-large {
	margin-left: 16px;
	margin-right: 16px;
	padding: 20px 0px;
	top: inherit;
}

.navbar-nav>li>.dropdown-menu {
	border-radius: 6px;
	display: inherit;
	visibility: hidden;
}

.dropdown-menu-large>li>ul {
	padding: 0;
	margin: 0;
}

.dropdown-menu-large>li>ul>li {
	list-style: none;
	width: 100%;
}

.dropdown-menu-large>li>ul>li>a {
	display: block;
	padding: 5px 5px;
	color: #333333;
	font-size: 13px;
}

.dropdown-menu-large>li ul>li>a:hover, .dropdown-menu-large>li ul>li>a:focus
	{
	text-decoration: none;
	color: #262626;
	background-color: #f5f5f5;
}

.dropdown-menu-large .disabled>a, .dropdown-menu-large .disabled>a:hover,
	.dropdown-menu-large .disabled>a:focus {
	color: #999999;
}

.dropdown-menu-large .disabled>a:hover, .dropdown-menu-large .disabled>a:focus
	{
	text-decoration: none;
	background-color: transparent;
	background-image: none;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled= false);
	cursor: not-allowed;
}

.dropdown-header {
	color: #02ADC6 !important;
	font-size: 18px !important;
}

.navbar-right li:hover .dropdown-menu {
	visibility: visible;
}

/* End Drop down Menu */
.sendquery {
	display: none;
}

.querybtn {
	padding: 10px 15px;
	background: #02ADC6;
	color: #fff;
	border-radius: 5px;
}
/* sticky affix  */
.affix#alert {
	position: fixed;
	color: #fff;
	left: 0;
	background: rgba(55, 62, 76, 0.6);
	z-index: 99;
	margin-top: -20px;
	padding-top: 20px;
}

/* end sticky affix */
.banner-text {
	text-align: center;
	margin-top: 75px;
}

.banner-text h1 {
	font-size: 36px;
	color: #fff;
	font-weight: bold;
}

.banner-text h4 {
	color: #fff;
	margin: 20px 0 30px 0;
}

.banner-text a {
	background: #02ADC6;
	padding: 15px 30px;
	color: #fff;
	font-size: 18px;
	border-radius: 5px;
}

.below-banner {
	color: #fff;
	text-align: center;
}

.find-doctor {
	background: #11717F;
	display: table;
	height: 70px;
}

.find-doctor p, .get-opinion p, .appointment p {
	display: table-cell;
	vertical-align: middle;
}

.find-doctor p, .get-opinion p, .appointment p, .treatment-box p,
	.patient-detail p, .footer-btm p, footer .intouch ul li p {
	font-size: 14px;
}

.find-doctor p, .get-opinion p, .appointment p, .treatment-box p,
	.doctors-sec p, .patient-detail p, .footer-btm p, footer .intouch ul li p
	{
	line-height: 1.42857143;
	font-weight: normal;
	font-family: Poppins-Regular;
}

.get-opinion {
	background: #159AAD;
	display: table;
	height: 70px;
}

.appointment-out {
	background: #28BCD2;
}

.appointment {
	display: table;
	height: 70px;
}

.treatment-sec {
	margin: 20px 0;
}

.treatment-box {
	border: 1px solid #02ADC6;
	padding: 20px 15px;
	text-align: center;
}

.treatment-box h4 {
	margin: 20px 0;
}

.treatment-box p {
	color: #02ADC6;
}

.treatment-sec h1, .doctors-sec h1 {
	margin-bottom: 10px;
}

.radius-img {
	background: #02ADC6;
	height: 100px;
	width: 100px;
	border-radius: 50%;
	text-align: center;
	padding-top: 25px;
	margin: 0 auto;
}

.learnbtn {
	padding: 8px 20px;
	border: 1px solid #02ADC6;
	color: #02ADC6;
	border-radius: 5px;
	transition: 0.5s;
}

.learnbtn:hover {
	background: #02ADC6;
	border: 1px solid #02ADC6;
	color: #fff;
	transition: 0.5s;
}

.learndiv {
	margin-top: 20px;
	margin-bottom: 10px
}

.doctors-sec {
	padding: 25px 0;
	background: #eeeeee;
}

.doctors-sec p {
	font-size: 18px;
}

.doctors-info {
	text-align: center;
}

.doctors-info h3 {
	font-size: 22px;
}

.doctors-info img {
	width: 100%;
}

.doctors-info p {
	font-size: 14px;
	color: #000;
}

.doctors-sec .learndiv {
	text-align: center;
}

.hospital-sec h1 {
	margin-bottom: 20px;
}

.hospital-sec .hospitals {
	text-align: center;
}

.hospital-sec .hospitals a:hover img {
	transform: scale(1.1);
	transition: 0.7s;
}

.patient-sec {
	padding: 35px 0;
}

.patient-detail {
	border: 1px solid #cfcfcf;
	padding: 20px 15px;
	margin-top: 25px;
}

.fa-quote-left {
	font-size: 20px;
	color: #cfcfcf;
}

.patient-detail p {
	color: #1d1d1d;
}

.patient-detail span {
	color: #909090;
}

.footer-banner-sec {
	background: url('../images/footerbanner.png') no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 250px;
}

.footer-banner-sec h1 {
	text-align: center;
	padding-top: 30px;
	color: #fff;
}

.footer-banner-sec .learndiv {
	text-align: center;
}

.footer-banner-sec .learndiv ul li {
	padding-right: 20px;
	margin: 20px 0 0 0;
}

.footer-banner-sec .learndiv .learnbtn {
	color: #fff;
	padding: 10px 80px;
	border: 1px solid #fff;
}

.footer-banner-sec .learndiv .learnbtn:hover {
	border: 1px solid #02ADC6;
}

footer {
	background: #434a5a;
	padding: 25px 0;
}

footer h4 {
	color: #fff;
	margin-bottom: 20px;
}

footer .imp-links ul li {
	display: block;
}

footer .imp-links ul li, footer .intouch ul li {
	margin-bottom: 5px;
}

footer .imp-links ul li a, footer .intouch ul li a {
	color: #fff;
}

footer .intouch ul li p {
	color: #fff;
}

footer .intouch ul li a i, footer .intouch ul li a img {
	margin-right: 10px;
}

footer .intouch ul li a img {
	margin-bottom: 10px;
}

.footer-btm {
	background: #373e4c;
	padding-top: 10px;
}

.footer-btm p {
	color: #fff;
	text-align: center;
}

/* ****************Media Queries***************** */
@media ( min-width : 768px) and (max-width: 1024px) {
	.contact-bar {
		padding: 0;
	}
	.contact-bar ul li a i {
		display: none;
	}
	.contact-bar ul li:last-child {
		margin-right: 0;
	}
	.nav>li>a {
		padding: 10px 8px;
	}
	.menu-bar {
		padding: 0;
	}
	.patient-detail {
		height: 210px;
	}
	.get-opinion, .find-doctor, .appointment {
		height: 85px;
	}
	.doctors-info h3 {
		font-size: 19px;
	}
}

@media ( min-width : 451px) and (max-width: 767px) {
	.contact-bar ul li:nth-child(2) {
		display: none;
	}
	.contact-bar ul li a i {
		display: none;
	}
	.contact-bar ul li .loginbtn {
		margin-left: 0;
	}
	.contact-bar ul li:first-child {
		margin-right: 8px;
	}
	.contact-bar ul li:last-child {
		margin-right: 0;
	}
	.sendquery {
		display: inline-block;
		margin-top: 12px;
	}
	.navbar-default .navbar-toggle .icon-bar {
		background-color: #fff;
	}
	.treatment-box, .hospital-sec .hospitals {
		margin-bottom: 15px;
	}
}

@media ( min-width : 320px) and (max-width: 480px) {
	h1 {
		font-size: 30px;
	}

	/* toggle button */
	.navbar-nav {
		position: relative;
	}
	.navbar-nav::-webkit-scrollbar {
		display: none;
	}
	.navbar-collapse.in::-webkit-scrollbar {
		width: 0 !important
	}
	/* toggle button */
	
	.menu-bar-sec
	 {
	 backgroud-color:rgba(55, 62, 76, 0.6);
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		padding-top: 20px;
	}
	.menu-bar-pic{
		background: url('../images/mobilebanner.png') no-repeat center center;
		height: 500px;
	}
	
	.contact-bar ul {
		float: left;
	}
	.contact-bar ul li .loginbtn {
		padding: 5px 10px;
	}
	.contact-bar ul li:nth-child(2) {
		display: none;
	}
	.contact-bar ul li a i {
		display: none;
	}
	.contact-bar ul li .loginbtn {
		margin-left: 0;
	}
	.contact-bar ul li:first-child {
		margin-right: 4px;
	}
	.contact-bar ul li:last-child {
		margin-right: 0;
	}
	.sendquery {
		display: inline-block;
		margin-top: 12px;
	}
	.navbar-default .navbar-toggle .icon-bar {
		background-color: #fff;
	}
	.treatment-box, .hospital-sec .hospitals {
		margin-bottom: 15px;
	}
	.footer-banner-sec h1 {
		padding-top: 20px;
	}
	.footer-banner-sec .learndiv ul li:first-child {
		padding-right: 0;
		margin-top: 0;
	}
	.footer-banner-sec .learndiv ul li:last-child {
		padding-right: 0;
	}
	.footer-banner-sec .learndiv .learnbtn {
		padding: 10px;
		width: 200px;
		height: 40px;
	}
}

@media ( min-width : 481px) and (max-width: 670px) {
	.menu-bar-sec {
	background-color:rgba(55, 62, 76, 0.6);
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		padding-top: 20px;
	}
	.menu-bar-pic{
		background: url('../images/mobilebanner.png') no-repeat center center;
		height: 500px;
	}
}